<div class="plank plain-md">
  <div class="section-container">
    <section>
      <div class="col-md-4 col-md-offset-4">
        <h2>Resend confirmation instructions</h2>

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render :partial => 'shared/form_errors', locals: { object: resource } %>
          <% if resource.errors.any? %>
            <p>Please enter the email address you used when signing up so we can fix this:</p>
          <% end %>

          <div><%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => 'form-control', :value => @prefill_email %></div>
          <br />
          <div><%= f.submit "Resend confirmation instructions", :class => 'button-primary' %></div>
        <% end %>
        <br />
        <%= render "devise/shared/links" %>
      </div>
    </section>
  </div>
</div>
<% if @auto_submit %>
<script>
  document.getElementById("new_user").submit();
</script>
<% end %>
