<%= section_form.fields_for task_section.module.code do |m| %>
  <h4>Head Section</h4>
  <section>
    <div class="form-group col-sm-6">
      <%= m.label :full_name %>
      <%= m.text_field :full_name, placeholder: 'Your full name', :class => 'form-control' %>
    </div>
  </section>
  <section>
    <div class="form-group col-sm-6">
      <%= m.label :phone %>
      <%= m.text_field :phone, placeholder: 'Phone', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-6">
      <%= m.label :email %>
      <%= m.text_field :email, placeholder: 'Email', :class => 'form-control' %>
    </div>
  </section>
  <section>
    <div class="form-group col-sm-6">
      <%= m.label :street_address %>
      <%= m.text_field :street_address, placeholder: 'Street address', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-6">
      <%= m.label :city_state_zip, 'City, State, Zip' %>
      <%= m.text_field :city_state_zip, placeholder: 'City, State, Zip', :class => 'form-control' %>
    </div>
  </section>

  <h4>Summary</h4>
  <div class="form-group">
    <p class="help-block">Summarize your background, experience and objective in looking for work.</p>
    <%= m.text_area :summary, placeholder: 'Summarize your background and experience', :class => 'form-control', rows: 4 %>
  </div>

  <h4>Skills</h4>
  <section>
    <div class="form-group col-sm-4">
      <%= m.text_field :skill_1, placeholder: 'skill', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= m.text_field :skill, placeholder: 'skill', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= m.text_field :skill_3, placeholder: 'skill', :class => 'form-control' %>
    </div>
  </section>
  <section>
    <div class="form-group col-sm-4">
      <%= m.text_field :skill_4, placeholder: 'skill', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= m.text_field :skill_5, placeholder: 'skill', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= m.text_field :skill_6, placeholder: 'skill', :class => 'form-control' %>
    </div>
  </section>
  <section>
    <div class="form-group col-sm-4">
      <%= m.text_field :skill_7, placeholder: 'skill', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= m.text_field :skill_8, placeholder: 'skill', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= m.text_field :skill_9, placeholder: 'skill', :class => 'form-control' %>
    </div>
  </section>

  <h4>Education</h4>
  <div class="form-group">
    <%= m.text_field :education_1, placeholder: 'School, Graduation Year, Major/Minor', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= m.text_field :education_2, placeholder: 'School, Graduation Year, Major/Minor', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= m.text_field :education_3, placeholder: 'School, Graduation Year, Major/Minor', :class => 'form-control' %>
  </div>

  <h4>Experience</h4>
  <section>
    <div class="form-group col-sm-4">
      <%= m.label :experience_1_company, 'Company name' %>
      <%= m.text_field :experience_1_company, placeholder: 'Company name', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= m.label :experience_1_span, 'Time span' %>
      <%= m.text_field :experience_1_span, placeholder: 'Example: April 2014 - Present', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= m.label :experience_1_position, 'Position' %>
      <%= m.text_field :experience_1_position, placeholder: 'Example: Waiter, Dock Loader', :class => 'form-control' %>
    </div>
  </section>
  <div class="form-group">
    <%= m.label :experience_1_description, 'Job description' %>
    <%= m.text_area :experience_1_description, placeholder: 'Summarize your work and skills related to this position.', :class => 'form-control', rows: 3 %>
  </div>
  <hr />
  <section>
    <div class="form-group col-sm-4">
      <%= m.label :experience_2_company, 'Company name' %>
      <%= m.text_field :experience_2_company, placeholder: 'Company name', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= m.label :experience_2_span, 'Time span' %>
      <%= m.text_field :experience_2_span, placeholder: 'Example: April 2014 - Present', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= m.label :experience_2_position, 'Position' %>
      <%= m.text_field :experience_2_position, placeholder: 'Example: Waiter, Dock Loader', :class => 'form-control' %>
    </div>
  </section>
  <div class="form-group">
    <%= m.label :experience_2_description, 'Job description' %>
    <%= m.text_area :experience_2_description, placeholder: 'Summarize your work and skills related to this position.', :class => 'form-control', rows: 3 %>
  </div>
  <hr />
  <section>
    <div class="form-group col-sm-4">
      <%= m.label :experience_3_company, 'Company name' %>
      <%= m.text_field :experience_3_company, placeholder: 'Company name', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= m.label :experience_3_span, 'Time span' %>
      <%= m.text_field :experience_3_span, placeholder: 'Example: April 2014 - Present', :class => 'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= m.label :experience_3_position, 'Position' %>
      <%= m.text_field :experience_3_position, placeholder: 'Example: Waiter, Dock Loader', :class => 'form-control' %>
    </div>
  </section>
  <div class="form-group">
    <%= m.label :experience_3_description, 'Job description' %>
    <%= m.text_area :experience_3_description, placeholder: 'Summarize your work and skills related to this position.', :class => 'form-control', rows: 3 %>
  </div>
<% end %>