  <section>
    <div class="assign-summary">
      <section>
        <h2><%= assignment.assignment_definition.title %>
          <% if assignment.assignment_definition.led_by != nil %>
            <span class="session-type">(<%=assignment.assignment_definition.led_by.capitalize%> Led)</span>
          <% end %>
        </h2>
      </section>  
      <section>
        <div class="assign-date">
          <p><%= assignment.assignment_definition.start_date.strftime("%b %e") %>
            <% if assignment.assignment_definition.end_date != nil %>
              -
              <%= assignment.assignment_definition.end_date.strftime("%b %e") %></p>
            <% end %>
        </div>
      </section>
      <section>
        <div class="assign-summary-practice">
          <%= assignment.assignment_definition.front_page_info.html_safe %>
        </div>
        <div class="assign-summary-checklist">
          <h3>Your To-Dos</h3>
          <ul>
            <% assignment.todos.each do |todo| %>
                <li>
                  <%= check_box_tag "todo", todo.id, todo.completed, :class => 'todo-check', 'data-todo-id' => todo.id %>
                  <%= todo.todo_definition.content.html_safe %>
                </li>
              <% end %>
          </ul>
        </div>
      </section>
      <section>
        <div class="assign-summary-buttons">
          <a class="btn-assign-left" href="/assignments/<%= assignment.assignment_definition.seo_name %>">View Details</a>
          <%= link_to 'Upload Assignment', assignment_submissions_path(assignment.id), :class => 'btn-assign-right' %>
        </div>
      </section>
    </div>
  </section>

