<div class="assignment-summary">
  <section>
    <h2><%= assignment.assignment_definition.title %>
      <% if assignment.assignment_definition.led_by != nil %>
        <span class="session-type">(<%=assignment.assignment_definition.led_by.capitalize%> Led)</span>
      <% end %>
    </h2>

  </section>
  <%
    wrapper_class = ''
    if assignment.submittable?
      wrapper_class = 'assignment-submittable'
    elsif assignment.in_progress?
      wrapper_class = 'assignment-in-progress'
    elsif assignment.complete?
      wrapper_class = 'assignment-complete'
    end
  %>
  <div class="assignment-summary-wrapper <%= wrapper_class %>">
    <section>
      <div class="assignment-date">
        <p><%= assignment.assignment_definition.start_date.strftime("%b %e") %>
          <% if assignment.assignment_definition.end_date != nil %>
            -
            <%= assignment.assignment_definition.end_date.strftime("%b %e") %></p>
          <% end %>
      </div>
    </section>
  </div>
</div>
