<div class="comment-form-holder">
  <%= form_for Comment.new do |f| %>
    <%= f.text_area :content, size: "60x4", placeholder: "Add a comment..." %>
    <%= f.hidden_field :task_id, { :value => task.id } %>
    
    <div class="attachment">
      <div id="buttons">
        <button id="attachment-button" type="button" class="btn btn-default glyphicon glyphicon-paperclip" data-toggle="button"></button>
        <span id="select-type" class="btn-group" data-toggle="buttons">
          <label id="select-document" class="btn btn-default glyphicon glyphicon-file">
            <input type="radio" name="attachment_type" value="document">
          </label>
          <label id="select-image" class="btn btn-default glyphicon glyphicon-picture">
            <input type="radio" name="attachment_type" value="image">
          </label>
        </span>
      <div>
      <div class="clear"></div>
      <div class="document">
        <span class="upload_symbol glyphicon glyphicon-file"></span>
        <div class="upload_instructions">Upload a document (.doc, .pdf)</div>
        <%= f.file_field :document %>
      </div>
      <div class="image">
        <span class="upload_symbol glyphicon glyphicon-picture" style="font-size: 3em; float: left;"></span>
        <div class="upload_instructions">Upload an image (.jpg, .png, .gif)</div>
       <%= f.file_field :image %>
      </div>
    </div>
    <div class="post">
      <%= f.submit 'Post Comment', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
