<div class="completion-status">
  <% if @task.pending_approval? %>
    <p>This task is waiting on your coach to provide feedback.</p>
  <% elsif @task.pending_revision? %>
    <p>This task needs revisions from you.</p>
  <% elsif @task.complete? %>
    <p>This task is complete.</p>
  <% end %>
  <% if @task.submittable? %>
    <% if @task.kind == "user_confirm" %>
        <%= form_for [@task.assignment, @task] do |f| %>
          <%= f.hidden_field :user_confirm, { :value => true } %>
          <button type="submit">I'm Done!</button>
        <% end %>
    <% elsif @task.kind == "text" %>
      <%= form_for [@task.assignment, @task] do |f| %>
        <%= f.text_area :state, :size => "40x6" %>
        <%= f.hidden_field :user_confirm, { :value => true } %>
        <br />
        <button class="btn" type="submit">Save Draft</button>
        <button class="btn" type="submit">I'm Done!</button>
      <% end %>
    <% elsif @task.kind == "file" %>
      <%= render partial: "tasks/form", locals: { :task => @task } %>

      <% if @task.submittable? %>
        <%= form_for [@task.assignment, @task] do |f| %>
          <%= f.hidden_field :user_confirm, { :value => true } %>
          <button type="submit">I'm Done!</button>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
