<%= render partial: "assignments/coaches_feedback" %>

<% if @current_user.is_coach? %>
  <h1><a href="/coaches">Coaching Dashboard</a> &raquo; <a href="/coaches?student_id=<%=@assignment.user_id %>"><%= @assignment.user.name %></a></h1>
<% end %>

<div class="assignment-task-pane">
  <%= render partial: "assignments/header", locals: { :assignment => @assignment } %>

  <% if @task %>
    <div class="task-container">
      <h3><%= @task.task_definition.name.html_safe %></h3>

      <% if @task.task_definition.summary %>
        <h4>Task to-do:</h4>
        <%= @task.task_definition.summary.html_safe %>
      <% end %>

      <% if @current_user.is_coach? %>
        <%= render "tasks/action_box_coach" %>
      <% else %>
        <%= render "tasks/action_box_student" %>
      <% end %>
    </div>

    <%= render "tasks/discussion" %>
  <% else %>
      <% if @current_user.is_coach? %>
        <%= render "assignments/action_box_coach" %>
      <% else %>
        <%= render "assignments/action_box_student" %>
      <% end %>
  <% end %>


  <div class="task-navigation-buttons">
    <% if @previous_task %>
      <a class="previous-task" href="/assignments/<%=@previous_task.assignment.id%>/tasks/<%= @previous_task.id %>">Previous</a>
    <% end %>
    <% if @next_task %>
      <a class="next-task" href="/assignments/<%=@next_task.assignment.id%>/tasks/<%= @next_task.id %>">Next</a>
    <% end %>
  </div>
</div>
