<div class="task-pane">
  <%= render partial: "assignments/header", locals: { :assignment => @assignment } %>

  <div class="assignment-progress-bar">
    <div class="completion-bar" style="width: <%= @assignment.percent_submitted %>%;">
      <span class="sr-only"><%= @assignment.percent_submitted %>% Complete</span>
    </div>
  </div>

  <section>
    <div class="col-sm-8">
      <div class="task-container">
        <h3><%= @task.task_definition.name.html_safe %></h3>

        <% if @task.task_definition.summary %>
          <p class="lead">
            <%= @task.task_definition.summary.html_safe %>
          </p>
        <% end %>

        <% if @task.task_definition.details %>
          <%= @task.task_definition.details.html_safe %>
        <% end %>

        <div class="action-box">
          <% if @current_user.coach? %>
            <%= render "coach/tasks/action_box" %>
          <% else %>
            <%= render "tasks/action_box" %>
          <% end %>
        </div>
      </div>

      <% if !@current_user.coach? %>
        <section class="task-navigation-buttons">
          <div class="col-sm-6">
            <% if @previous_task %>
              <%= link_to "Previous", assignment_task_path(@previous_task.assignment, @previous_task), class: "previous" %>
            <% end %>
          </div>
          <div class="col-sm-6 text-right">
            <% if @next_task %>
              <%= link_to "Next", assignment_task_path(@next_task.assignment, @next_task), class: "next" %>
            <% end %>
          </div>
        </section>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= render "tasks/discussion" %>
    </div>
  </section>
  
</div>
