<div class="container-fluid">

  <!-- BTODO: add validation for form input -->

  <section>
    <div class="col-sm-8">

    <%= form_tag(controller: "submit", action: "create") do %>
    
    <div class="form-group>
      <%= label_tag(:userEmail, "Your email address:") %>
      <%= text_field_tag(:userEmail, nil, class: "form-control", placeholder: "Enter email") %>
    </div>

    <div class="form-group>
      <%= label_tag(:submissionUrl, "Submission URL:") %>
      <%= text_field_tag(:submissionUrl, nil, class: "form-control", placeholder: "e.g. http://link.com/to/my/submission.html") %>
    </div>
 
    <%= submit_tag("Submit", class: "btn-assign-submit") %> 
  
    <% end %>
    
    </div>
  </section>
</div>
