      <% List.find_by_friendly_name(@university_list).items.each do |school| %>
        <div>
          <%= f.radio_button :university_name, school, :required => 'required', :checked => (params[:user].nil? ? false : (params[:user][:university_name] == school)) %>
          <%= f.label "university_name_#{school.downcase.gsub(' ', '_')}".to_sym, school %>
          <div class="form-option-details"></div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.radio_button :university_name, 'other', :required => 'required', :checked => (params[:user].nil? ? false : (params[:user][:university_name] == 'other')) %>
        <%= f.label :university_name_other, "None of the above" %>
        <div class="form-option-details">
          <%= text_field_tag :undergrad_university_name, nil, :required => 'required', :class => 'form-control', :value => params[:undergrad_university_name], :placeholder => 'Your college name and state', :style => 'max-width: 250px;', :maxlength => '70' %>
          <div class="clickable-option">
            <%= f.check_box :like_to_know_when_program_starts %>
            <%= f.label :like_to_know_when_program_starts, 'I\'d like to know when Braven starts a program at my college' %>
          </div>
          <div class="clickable-option">
            <%= f.check_box :like_to_help_set_up_program %>
            <%= f.label :like_to_help_set_up_program, 'I\'d like to help Braven set up a program in my area' %>
          </div>
        </div>
      </div>


