<div class="form-option-details">
  <% unless @hide_other_universities %>
  <section>
    <div class="required">
      University name:
    </div>
    <div class="form-group">
      <%= render :partial => 'colleges', :locals => { :f => f} %>
    </div>
  </section>
  <% else %>
    <%= f.hidden_field :university_name, :value => params[:user][:university_name] %>
  <% end %>


  <section>
    <div>
      Started college in:
    </div>
    <div class="col-sm-5">
      <%= f.select :started_college_in, options_for_select([''].concat(started_college_years.to_a), params[:user].nil? ? '' : params[:user][:started_college_in]), {}, :class => 'form-control' %>
    </div>
  </section>
  <section>
    <div class="required">
      Anticipated graduation:
    </div>
    <div class="col-sm-6">
      <table style="width: auto; margin: 0px;"><tr><td>
        <%= f.select :anticipated_graduation, options_for_select(graduation_years, params[:user].nil? ? '' : params[:user][:anticipated_graduation]), {}, :class => 'form-control', include_blank: true, :required => 'required' %>
      </td><td>
        <%= f.select :anticipated_graduation_semester, ["Fall", "Spring", "Summer", "Winter"], {}, 'class' => 'short form-control', include_blank: true, :required => 'required' %>
      </td></tr></table>
    </div>
  </section>

  <section>
    <div>
      Phone number:
    </div>
    <div class="col-sm-5">
       <%= f.text_field :phone, 'class' => 'form-control short', 'title' => 'phone number including area code', 'pattern' => '.{10,15}', 'type' => 'tel' %>
    </div>
  </section>


  <section>
    <div class="required">
      Please create a password to protect any personal information you may provide us.
    </div>
    <div class="col-sm-8">
      <%= f.password_field :password, :class => 'form-control', placeholder: 'Create a password', pattern: '.{4,}', title: 'make a password at least four characters long', required: 'required' %>
    </div>
  </section>

</div>

