<form method="POST" action="<%= user_confirm_part_2_path %>">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <div class="plank tertiary-md">
    <div class="section-container">
      <section>
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <% if current_user.program_attendance_confirmed %>
            <% if @waitlist %>
              <p>Thank you for your response.</p>
            <% else %>
              <p>Thank you for confirming your commitment to participate in Braven.</p>
            <% end %>
          <% else %>
            <p class="shoutout">Welcome to the <%= @program_title %> community, <%= current_user.first_name %>!</p>
            <% if @confirmation_type == 'coach' %>
              <p>We are so pleased to offer you a place among our selective volunteer force. We think you'll be an outstanding coach and will really enjoy this experience leading an inspiring cohort of high-potential, diverse future leaders.</p>
            <% else %>
              <p>We are so pleased to offer you a place in our program. We think you'll be an outstanding Braven Fellow and will really enjoy this experience.</p>
            <% end %>
          <% end %>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-4 col-sm-offset-4">
          <% if current_user.program_attendance_confirmed %>
            <% if @waitlist %>
              <p>We will get in contact with you if a slot opens up.</p>
            <% else %>
              <p>You'll be hearing from us shortly with more information about our kickoff event.</p>
            <% end %>
          <% else %>
            <div class="availability-options">
              <% if @confirmation_type == 'coach' %>
                <p>We need coaches to lead <%= @program_title %> cohorts at the following times. Please select ONE time slot and then click next. If you are unavailable at the times listed, please select, 'I cannot commit to coach at any of the times listed.' and on the next page, you'll have the option to sign up for our waitlist.</p>
              <% else %>
                <p>We have <%= @program_title %> slots available at the following times. Please select ONE time slot and then click next. If you are unavailable at the times listed, please select, 'I cannot commit to participate at any of the times listed.' and on the next page, you'll have the option to sign up for our waitlist.</p>
              <% end %>
              <% @times.each do |info| %>
                <% if info['slots'] > 0 %>
                <label><input required="required" type="radio" name="time" value="<%= info['id'] %>" /> <%= info['time'] %></label><br />
                <% end %>
              <% end %>
              <label><input required="required" type="radio" name="time" value="none" /> I cannot commit to <%= @confirmation_type == 'coach' ? 'coach' : 'participate' %> at any of the times listed.</label>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <% unless current_user.program_attendance_confirmed %>
          <div class="apply-button">
            <button type="submit" class="btn-primary">Next</button>
          </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</form>
