<form method="POST" action="<%= user_save_confirm_path %>" onsubmit="
  if(!this.elements['confirmed'].checked) {
    alert('Please confirm your commitment by checking the box.');
    return false;
  }
  return true;
">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <div class="plank tertiary-md">
    <div class="section-container">
      <section>
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <% if current_user.program_attendance_confirmed %>
            <p>Thank you for confirming your commitment to participate in Beyond Z.</p>
          <% else %>
            <p class="shoutout"><%= current_user.first_name %>, please select the time slot to which you can commit:</p>
          <% end %>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-4 col-sm-offset-4">
          <% if current_user.program_attendance_confirmed %>
            <p>You'll be hearing from us shortly with more information about our kickoff event.</p>
          <% else %>
            <table><tr>
              <td style="padding-right: 6px; vertical-align: top;">
                <input id="confirmation" type="checkbox" name="confirmed" />
              </td>
              <td>
                <label for="confirmation">I confirm that will be attending the Beyond Z program.</label>
              </td>


              <div class="availability-options">
              <% @meeting_times.lines.map(&:strip).each do |time| %>
                <input required="required" id="confirmation" type="radio" name="confirmed" /> <%= time %><br />
                <% if false %>
                <label class="control-label" style="padding-left: 32px;"><input type="radio" name="meeting_times[]" value="<%=time%>" <%= checked_if_in_array(:meeting_times, time, @enrollment[:meeting_times]) %> /> <%= time %></label><br />

                <label class="radio"><%= f.radio_button :position, 'coach', 'value' => 'coach', 'id' => 'position_coach' %>Leadership Coach</label><label class="radio"><%= f.radio_button :position, 'student', 'value' => 'student', 'id' => 'position_student' %>Participant (student)</label>
                <% end %>
              <% end %>
                None of these times work for me
              </div>




            </tr></table>
          <% end %>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <% unless current_user.program_attendance_confirmed %>
          <div class="apply-button">
            <button type="submit" class="no-decoration"><div class="apply-icon"></div><div class="apply-text">Confirm</div>
          </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</form>
