<form method="POST" action="<%= user_save_confirm_path %>">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input name="enrollment_id" type="hidden" value="<%= params[:enrollment_id] %>" />
  <div class="plank tertiary-md">
    <div class="section-container">
      <section>
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <p class="shoutout">Timeslot Commitment</p>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-8 col-sm-offset-2">
          <% if @selected_time %>
            <p>You selected <strong><%= @selected_time %></strong>. Sound right? Click Submit to make it official!</p>
            <input type="hidden" name="selected_time" value="<%=@selected_time%>" />
          <% else %>
            <div class="availability-options">
              <% if @confirmation_type == 'coach' %>
                <p>Drat. We'll do what we can to include you in the program. In the meantime, we'll add you to our waitlist. Just let us know which of these currently closed section meeting times work for you:</p>
              <% elsif @confirmation_type == 'volunteer' %>
                <p>Drat. We'll do what we can to include you. In the meantime, we'll add you to our waitlist. Just let us know which of these currently closed opportunities work for you:</p>
              <% else %>
                <p>We're sorry we don't have an open slot that fits your schedule. We'd like to add you to our waitlist in case a slot opens up. Just let us know which of these section meeting times work for you, all of which are currently full. Choose as many as you can for the best chance of getting in off the waitlist.</p>
              <% end %>
              <% outputted = false %>
              <% @times.each do |time| %>
                <% if time['slots'] == 0 %>
                  <% outputted = true %>
                  <label><input onchange="if(this.checked) document.getElementById('none').checked = false;" type="checkbox" class="some-time-option" name="times[]" value="<%= time['time'] %>" /> <%= time['time'] %></label><br />
                <% end %>
              <% end %>
              <% if !outputted %>
                <%
                  next_semester = "The Following Semester"
                %>
                  <label><input onchange="if(this.checked) document.getElementById('none').checked = false;" type="checkbox" class="some-time-option" value="<%=next_semester%>" name="times[]" /> <%=next_semester%></label><br />
              <% end %>
              <label><input id="none" value="none" type="checkbox" name="times[]" onchange="if(this.checked) { var i; var a = document.querySelectorAll('.some-time-option'); for(i = 0; i < a.length; i++) a[i].checked = false;}" /> I cannot participate at any of these times either.</label>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <div class="apply-button">
            <button type="submit" class="btn-primary">Submit</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</form>
