<div id="new-user-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">

          <h1>Is this you?</h1>

          <p>We found an existing account with your name. If <%= (@multiple ? "any of these are one of your email addresses" : "this is your email address") %>, please click your email address to log in with your existing account.</p>

          <% @existing.each do |e| %>
            <% if e.applicant_type == 'event_volunteer' %>
              <!--no password = let them reset it via email with fewer steps-->
              <%= form_for(User.new, as: "user", url: password_path("user"), html: { method: :post }) do |f| %>
                <%= f.hidden_field :email, value: e.email %>
                <%= f.submit censor_email(e.email), class: "plain-link" %>
              <% end %>
            <% else %>
              <%= link_to censor_email(e.email), new_user_session_path %>
              <br />
            <% end %>
          <% end %>

          <h2>Not you?</h2>


          <%= form_tag do %>
            <% params[:user].each do |k, v| %>
              <input type="hidden" name="user[<%=k%>]" value="<%=v%>" />
            <% end %>
            <% [:referrer, :undergrad_university_name].each do |k| %>
              <input type="hidden" name="<%=k%>" value="<%=params[k]%>" />
            <% end %>

            <input type="hidden" name="tried_dup" value="true" />

            <button type="submit" class="btn btn-primary">
              <%= @multiple ? 'Those emails aren\'t mine.' : 'This email isn\'t mine.'%>
                <br />
                I'd like to create a new account.
            </button>
          <% end %>

        </div>
      </section>
    </div>
  </div>
</div>
