<h1>Forgot your password?</h1>

<% if @message != nil %>
    <div id="error_explanation">
    <p> <%= @message %></p>
    </div>
<% end %>

<p>Enter your e-mail address here and we'll send you a reset token.</p>

<%= form_tag("forgot-password", method: "post") do %>
  <div class="form-group">
    <%= label_tag(:email, 'Email address:') %>
    <%= text_field_tag(:email, nil, :type=>'email', :autofocus=>'autofocus', :required=>'required') %>
  </div>
  <%= submit_tag("Reset Password") %>
<% end %>
