<h1>Student Log-in</h1>

<%= form_for @user, url: users_login_path do |f| %>
  <% if @message != nil %>
    <div id="error_explanation">
      <h2>Please fix the following errors before clicking 'Submit':</h2>
      <ul>
        <li><%= @message.html_safe %></li>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, 'Email address:' %>
    <%= f.text_field :email, value: @email, autofocus:'autofocus', class: 'form-control', placeholder: 'emailAddress@someDomain.com' %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'Password:' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.submit "Submit", class: 'btn-assign-submit' %>

  <br style="clear: both;" />
  <br />
  <%= link_to "Forgot password?", "forgot-password" %>
<% end %>
