<h1>Platform Log-in</h1>

<div class="login-form-holder">
<%= render "shared/form_errors" %>

<%= form_for @user, url: users_login_path do |f| %>
  <%= hidden_field_tag :redirect_to, @redirect_to %>
  <div class="form-group">
    <%= f.label :email, 'Email address:' %>
    <%= f.text_field :email, value: @email, autofocus:'autofocus', class: 'form-control', placeholder: 'emailAddress@someDomain.com' %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'Password:' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="submit-holder">
    <%= f.submit "Submit", class: 'btn-assignment-submit' %>
  </div>

  <br style="clear: both;" />
  <br />
  <%= link_to "Forgot password?", "forgot_password" %>
<% end %>
</div>
