<div id="new-user-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">
          <% if @user.applicant_type.nil? %>
          <!-- first page -->
          <h1>
            Get Involved
          </h1>

          <p class="lead">
            How would you like to get involved?
          </p>

          <p>
            <a href="<%= new_user_path(:user => { :applicant_type => 'undergrad_student' }) %>">As a Fellow (student)</a> (<a target="_BLANK" href="https://bebraven.org/become-a-fellow/#the-accelerator-experience">?</a>)
          </p>
          <p>
            <a href="<%= new_user_path(:user => { :applicant_type => 'leadership_coach' }) %>">As a Leadership Coach</a> (volunteer professional) (<a target="_BLANK" href="https://bebraven.org/volunteer/">?</a>)
          </p>

          <p>As a partner, to offer jobs to our Fellows, or other: <a href="https://bebraven.org/contact/">contact us</a><p>
          <!-- end first page -->
          <% else %>

          <h1>
            New
            <%= case @user.applicant_type
              when "undergrad_student"
                "Fellow"
              when "leadership_coach"
                "Coach"
              else
                "Volunteer"
              end
            %>
          </h1>

          <% if @user.applicant_type == "undergrad_student" %>
          <div class="breadcrumbs">
            <span class="current">Step 1: Create an Account</span>
            ⇨
            <span>Step 2: Set up Profile</span>
            ⇨
            <span>Step 3: Register</span>
          </div>
          <% end %>

          <% if @user.applicant_type == "leadership_coach" %>
          <div class="breadcrumbs">
            <span class="current">Step 1: Create an Account</span>
            ⇨
            <span>Step 2: Apply</span>
          </div>
          <% end %>

          <p><em>Already have an account? <a href="<%= new_user_session_path %>">Log in</a>.</em></p>

          <div id="sign-up-form" class="">
            <div class="panel-body">
              <%= form_for :user, url: users_path, role: 'form', html: { onsubmit: "return BZ_formSubmitWaitHelper(this);"} do |f| %>
                <%= hidden_field_tag 'referrer', @referrer %>
                <%= render :partial => 'shared/form_errors', locals: { object: @user } %>
                <div class="form-group">
                  <section>
                    <div class="col-sm-6">
                      <%= f.label :first_name, 'Name', :class => 'required' %>
                      <%= f.text_field :first_name, :class => 'form-control', required: 'required', placeholder: 'First Name', style: 'float: left;' %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.label :last_name, '&nbsp;'.html_safe %>
                      <%= f.text_field :last_name, :class => 'form-control', required: 'required', placeholder: 'Last Name', style: 'float: left;'  %>
                    <div>
                  </section>
                </div>
                <div class="form-group">
                  <section>
                   <div class="col-sm-8">
                      <%= f.label :email, :class => 'required' %>
                      <%= f.text_field :email, :type => 'email', :required => 'required', :class => 'form-control', placeholder: 'Email'%>
                    </div>
                  </section>
                </div>

                <div class="form-group">
                  <% if !@hide_other_applicant_types %>
                    <label class="required">I am...</label>
                  <% end %>

                  <% if !@hide_other_applicant_types || @user.applicant_type == 'preaccelerator_student' %>
                  <div class="clickable-option">
                    <% if @hide_other_applicant_types %>
                      <%= f.radio_button :applicant_type, 'preaccelerator_student', required: 'required', style: 'visibility: hidden;' %>
                    <% else %>
                      <%= f.radio_button :applicant_type, 'preaccelerator_student', required: 'required' %>
                      <%= f.label :applicant_type_preaccelerator_student, 'A hopeful pre-accelerator participant' %>
                    <% end %>
                    <%= render :partial => 'student', :locals => { :f => f} %>
                  </div>
                  <% end %>

                  <% if !@hide_other_applicant_types || @user.applicant_type == 'undergrad_student' %>
                  <div class="clickable-option">
                    <% if @hide_other_applicant_types %>
                      <%= f.radio_button :applicant_type, 'undergrad_student', required: 'required', style: 'visibility: hidden;' %>
                    <% else %>
                      <%= f.radio_button :applicant_type, 'undergrad_student', required: 'required' %>
                      <%= f.label :applicant_type_undergrad_student, 'An undergraduate student' %>
                    <% end %>
                    <%= render :partial => 'student', :locals => { :f => f} %>
                  </div>
                  <% end %>

                  <% if !@hide_other_applicant_types || @user.applicant_type == 'leadership_coach' %>
                  <div class="clickable-option">
                    <% if @hide_other_applicant_types %>
                      <%= f.radio_button :applicant_type, 'leadership_coach', required: 'required', style: 'visibility: hidden;' %>
                    <% else %>
                      <%= f.radio_button :applicant_type, 'leadership_coach', required: 'required' %>
                      <%= f.label :applicant_type_volunteer, 'Interested in volunteering as a coach in the Braven Accelerator' %>
                    <% end %>
                    <%= render :partial => 'leadership_coach', :locals => { :f => f} %>
                  </div>
                  <% end %>

                  <% if !@hide_other_applicant_types || @user.applicant_type == 'employer' %>
                  <div class="clickable-option">
                    <% if @hide_other_applicant_types %>
                      <%= f.radio_button :applicant_type, 'employer', required: 'required', style: 'visibility: hidden;' %>
                    <% else %>
                      <%= f.radio_button :applicant_type, 'employer', :required => 'required' %>
                      <%= f.label :applicant_type_employer, 'Interested in offering employment opportunities to Braven alumni', required: 'required' %>
                    <% end %>
                    <%= render :partial => 'employer', :locals => { :f => f} %>
                  </div>
                  <% end %>
                  <% if !@hide_other_applicant_types || @user.applicant_type == 'partner' %>
                  <div class="clickable-option">
                    <% if @hide_other_applicant_types %>
                      <%= f.radio_button :applicant_type, 'partner', required: 'required', style: 'visibility: hidden;' %>
                    <% else %>
                      <%= f.radio_button :applicant_type, 'partner', required: 'required' %>
                      <%= f.label :applicant_type_partner, 'Working in higher education and am interested in partnering with Braven' %>
                    <% end %>
                    <%= render :partial => 'partner', :locals => { :f => f} %>
                  </div>
                  <% end %>
                  <% if !@hide_other_applicant_types || @user.applicant_type == 'other' %>
                  <div class="clickable-option with-text-field">
                    <% if @hide_other_applicant_types %>
                      <%= f.radio_button :applicant_type, 'other', required: 'required', style: 'visibility: hidden;' %>
                    <% else %>
                      <%= f.radio_button :applicant_type, 'other', required: 'required' %>
                      <%= f.label :applicant_type_other, 'Other?' %>
                    <% end %>
                    <div class="form-option-details">
                    <%= f.text_field :applicant_details, :class => 'form-control', :placeholder => 'What are you interested in?', :onclick => '$("#user_applicant_type_other").click();', :maxlength => '72' %>
                      <br />
                      <section>
                        <div class="col-sm-5">
                          <%= f.text_field :city, :class => 'form-control', placeholder: 'City', maxlength: '60' %>
                        </div>
                        <div class="col-sm-5">
                          <%= f.select :state, options_for_select(@states, @user.state),
                            # The following add a placeholder for State and
                            # color the form appropriately when it is selected
                            # or not selected
                            {prompt: 'State'},
                            :class => 'form-control placeholder-style',
                            onchange: '$(this)[this.selectedIndex == 0 ? "addClass" : "removeClass"]("placeholder-style");'
                          %>
                        </div>
                      </section>
                    </div>
                  </div>
                  <% end %>
                </div>

                <div class="form-group" style="display: none;">
                  <%= f.text_area :applicant_comments, :class => 'form-control', :placeholder => 'Comments, thoughts, or questions?', :maxlength => '4000' %>
                </div>


                <div class="form-group">
                  <button type="submit" class="button-primary">
                    <!-- We check the model campaign id to see if they will be auto-mapped based on query params. If so, next
                         step is start application, so it says that. Otherwise, generic "submit" is used. -->
                    <% if(@user.applicant_type == 'undergrad_student' || @user.applicant_type == 'preaccelerator_student') %>
                      Next: Set Up Profile
                    <% elsif(@user.applicant_type == 'leadership_coach') %>
                      Next: Apply
                    <% else %>
                      Submit
                    <% end %>
                  </button>
                </div>

              <% end %>
            </div>
          </div>
          <% end %>
        </div>


        <div class="col-sm-4 col-sm-offset-2 hidden-xs">
          <h2>Why Join?</h2>
          <blockquote>
            <p>&ldquo;Braven helps you become a better you. In a matter of weeks, I’ve gained the insight of Silicon Valley’s most successful leaders, obtained a solid foundation of my aspirations, and made lifelong connections.&rdquo;</p>
            <footer>Antoinette Martin, Braven Fellow '16</footer>
          </blockquote>
          <blockquote>
            <p>&ldquo;The most valuable part of the Braven experience is the organized tools that are given to help us succeed with our assignments and apply to the real-world.&rdquo;</p>
            <footer>Dylan Dutt, Braven Fellow '16</footer>
          </blockquote>
          <blockquote>
            <p>&ldquo;From enhancing my presentation skills to understanding the best way to solve a problem, big or small, Braven helped me. It’s like a crash course on all of the skills you did not realize you would need to get a job or internship.&rdquo;</p>
            <footer>Sukanya Kumar, Braven Fellow '16</footer>
          </blockquote>
          <blockquote>
            <p>&ldquo;My favorite part about Braven is my cohort. We all look out for each other, and I know I have lifelong mentors/friends for the future.&rdquo;</p>
            <footer>Mianna Schafter, Braven Fellow '18</footer>
          </blockquote>
          <blockquote>
            <p>&ldquo;I joined Braven because I saw an open door to learn more and improve. I see Braven as a  program to develop skills and receive the help needed to lead me on the right career path.&rdquo;</p>
            <footer>Ulises Maldonado, Braven Fellow, '18</footer>
          </blockquote>
        </div>
      </section>
    </div>
  </div>
</div>
