<div id="new-user-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">
          <h1>
            Join Us
          </h1>

          <% if !@hide_other_applicant_types %>
          <p class="lead">
          Whether you're interested in participating as a fellow, volunteering as a speaker or coach, or becoming a partner organization, you're in the right place.  
          </p>
          <% end %>

          <div id="sign-up-form" class="">
            <div class="panel-body">
              <%= form_for :user, url: users_path, role: 'form' do |f| %>
                <%= hidden_field_tag 'referrer', @referrer %>
                <%= render :partial => 'shared/form_errors', locals: { object: @user } %>
                <div class="form-group">
                  <%= f.label :first_name, 'Name', :class => 'required' %>
                  <section>
                    <div class="col-sm-6">
                      <%= f.text_field :first_name, :class => 'form-control', required: 'required', placeholder: 'First Name', style: 'float: left;' %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.text_field :last_name, :class => 'form-control', required: 'required', placeholder: 'Last Name', style: 'float: left;'  %>
                    <div>
                  </section>
                </div>
                <div class="form-group">
                  <section>
                   <div class="col-sm-8">
                      <%= f.label :email, :class => 'required' %>
                      <%= f.text_field :email, :type => 'email', :required => 'required', :class => 'form-control', placeholder: 'Email'%>
                    </div>
                  </section>
                </div>

                <div class="form-group">
                  <% if !@hide_other_applicant_types %>
                    <label class="required">I am...</label>
                  <% end %>
                  <% if !@hide_other_applicant_types || @user.applicant_type == 'undergrad_student' %>
                  <div class="clickable-option">
                    <% if @hide_other_applicant_types %>
                      <%= f.radio_button :applicant_type, 'undergrad_student', required: 'required', style: 'visibility: hidden;' %>
                    <% else %>
                      <%= f.radio_button :applicant_type, 'undergrad_student', required: 'required' %>
                      <%= f.label :applicant_type_undergrad_student, 'An undergraduate student' %>
                    <% end %>
                    <%= render :partial => 'student', :locals => { :f => f} %>
                  </div>
                  <% end %>
                  <% if !@hide_other_applicant_types || @user.applicant_type == 'volunteer' %>
                  <div class="clickable-option">
                    <% if @hide_other_applicant_types %>
                      <%= f.radio_button :applicant_type, 'volunteer', required: 'required', style: 'visibility: hidden;' %>
                    <% else %>
                      <%= f.radio_button :applicant_type, 'volunteer', required: 'required' %>
                      <%= f.label :applicant_type_volunteer, 'Interested in volunteering as a coach in the Braven Accelerator' %>
                    <% end %>
                    <%= render :partial => 'volunteer', :locals => { :f => f} %>
                  </div>
                  <% end %>
                  <% if !@hide_other_applicant_types || @user.applicant_type == 'employer' %>
                  <div class="clickable-option">
                    <% if @hide_other_applicant_types %>
                      <%= f.radio_button :applicant_type, 'employer', required: 'required', style: 'visibility: hidden;' %>
                    <% else %>
                      <%= f.radio_button :applicant_type, 'employer', :required => 'required' %>
                      <%= f.label :applicant_type_employer, 'Interested in offering employment opportunities to Braven alumni', required: 'required' %>
                    <% end %>
                    <%= render :partial => 'employer', :locals => { :f => f} %>
                  </div>
                  <% end %>
                  <% if !@hide_other_applicant_types || @user.applicant_type == 'partner' %>
                  <div class="clickable-option">
                    <% if @hide_other_applicant_types %>
                      <%= f.radio_button :applicant_type, 'partner', required: 'required', style: 'visibility: hidden;' %>
                    <% else %>
                      <%= f.radio_button :applicant_type, 'partner', required: 'required' %>
                      <%= f.label :applicant_type_partner, 'Working in higher education and am interested in partnering with Braven' %>
                    <% end %>
                    <%= render :partial => 'partner', :locals => { :f => f} %>
                  </div>
                  <% end %>
                  <% if !@hide_other_applicant_types || @user.applicant_type == 'other' %>
                  <div class="clickable-option with-text-field">
                    <% if @hide_other_applicant_types %>
                      <%= f.radio_button :applicant_type, 'other', required: 'required', style: 'visibility: hidden;' %>
                    <% else %>
                      <%= f.radio_button :applicant_type, 'other', required: 'required' %>
                      <%= f.label :applicant_type_other, 'Other?' %>
                    <% end %>
                    <div class="form-option-details">
                    <%= f.text_field :applicant_details, :class => 'form-control', :placeholder => 'What are you interested in?', :onclick => '$("#user_applicant_type_other").click();', :maxlength => '72' %>
                      <br />
                      <section>
                        <div class="col-sm-5">
                          <%= f.text_field :city, :class => 'form-control', placeholder: 'City', maxlength: '60' %>
                        </div>
                        <div class="col-sm-5">
                          <%= f.select :state, options_for_select(@states, @user.state),
                            # The following add a placeholder for State and
                            # color the form appropriately when it is selected
                            # or not selected
                            {prompt: 'State'},
                            :class => 'form-control placeholder-style',
                            onchange: '$(this)[this.selectedIndex == 0 ? "addClass" : "removeClass"]("placeholder-style");'
                          %>
                        </div>
                      </section>
                    </div>
                  </div>
                  <% end %>
                </div>

                <div class="form-group">
                  <%= f.text_area :applicant_comments, :class => 'form-control', :placeholder => 'Comments, thoughts, or questions?', :maxlength => '4000' %>
                </div>


                <div class="form-group">
                  <button type="submit" class="button-primary">
                    <!-- We check the model campaign id to see if they will be auto-mapped based on query params. If so, next
                         step is start application, so it says that. Otherwise, generic "submit" is used. -->
                    <%= (@user.applicant_type == 'volunteer' || @user.applicant_type == 'undergrad_student') ? "Next: Start Application" : "Submit" %></button>
                </div>

              <% end %>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-sm-offset-2 hidden-xs">
          <h2>Why Join?</h2>
          <blockquote>
            <p>&ldquo;You become part of a team that could actually make a difference. You learn that you have a story and how to tell it. You meet lots of highly motivated, inspiring people.&rdquo;</p>
            <footer>Andy Yitalo, Braven Fellow '14</footer>
          </blockquote>
          <blockquote>
            <p>&ldquo;Braven had provided me with innumerable opportunities for personal and professional growth, but the Capstone project took our learning experiences beyond that of our own and empowered me to give back to my community. I really appreciated this opportunity, it was a great learning experience in regards to leadership for me as a project manager.&rdquo;</p>
            <footer>Kelly Hernandez, Braven Fellow '14</footer>
          </blockquote>
        </div>
      </section>
    </div>
  </div>
</div>
