<div id="sso_discovery">
  <h1>Choose Your University</h1>

  <h2>Fellows</h2>

  <a href="https://<%= Rails.application.secrets.canvas_server %>/login/cas/6"><img src="/images/universities/nlu.png" alt="NLU" /> <span>Fellows</span></a>
  <a href="https://<%= Rails.application.secrets.canvas_server %>/login/cas/1"><img src="/images/universities/run.png" alt="Rutgers" /> <span>Fellows</span></a>
  <a href="https://<%= Rails.application.secrets.canvas_server %>/login/cas/1"><img src="/images/universities/sjsu.png" alt="SJSU" /> <span>Fellows</span></a>

  <hr />

  <h2>Instructors, TAs, TFs, and Leadership Coaches</h2>
  <a href="https://<%= Rails.application.secrets.canvas_server %>/login/cas/1"><img src="/images/universities/nlu.png" alt="NLU" /> <span>Instructors/LCs</span></a>
  <a href="https://<%= Rails.application.secrets.canvas_server %>/login/cas/1"><img src="/images/universities/run.png" alt="Rutgers" /> <span>TFs/LCs</span></a>
  <a href="https://<%= Rails.application.secrets.canvas_server %>/login/cas/1"><img src="/images/universities/sjsu.png" alt="SJSU" /> <span>TAs/LCs</span></a>

  <hr />

  <h2>All Others, Click the Braven Logo Below</h2>
  <a href="https://<%= Rails.application.secrets.canvas_server %>/login/cas/1"><img src="/images/universities/braven.png" alt="Braven" /> <span>Staff</span></a>
</div>
