<div id="sso_discovery">
  <script>document.body.className = 'sso_discovery';</script>

  <img src="/bebraven/braven_logo.png" alt="" />
  <h1>Choose Your University</h1>

  <div id="main_university_choice">
    <div class="choose-your-university">
      <a class="university" onclick="return showNlu();" href="//<%= Rails.application.secrets.canvas_server %>/login/cas/6">
        <div><img src="/images/universities/nlu.png" alt="" /></div>
        <span>National Louis University</span>
      </a>
      <a class="university" href="//<%= Rails.application.secrets.canvas_server %>/login/cas/1">
        <div><img src="/images/universities/run.png" alt="" /></div>
        <span>Rutgers University - Newark</span>
      </a>
      <a class="university" href="//<%= Rails.application.secrets.canvas_server %>/login/cas/1">
        <div><img src="/images/universities/sjsu.png" alt="" /></div>
        <span>San Jose State University</span>
      </a>
    </div>
    <div class="choose-your-university">
      <a class="university" href="//<%= Rails.application.secrets.canvas_server %>/login/cas/1">
        <div><img src="/images/universities/lehman.png" alt="" /></div>
        <span>Lehman College</span>
      </a>
      <a class="university" href="//<%= Rails.application.secrets.canvas_server %>/login/cas/1">
        <div><img src="/images/universities/bravenx.png" alt="" /></div>
        <span>Braven X</span>
      </a>
      <a class="university" href="//<%= Rails.application.secrets.booster_portal_server %>">
        <div><img src="/images/universities/booster.png" alt="" /></div>
        <span>Braven Booster</span>
      </a>
    </div>

    <br />
    <br />

    Braven Staff Member? <a class="login-link" href="//<%= Rails.application.secrets.canvas_server %>/login/cas/1"> Login to the Braven Portal</a>
  </div>

  <div style="display: none;" id="nlu_university_choice">
    <h2>National Louis University <a onclick="return showAll();" href="./">Change</a></h2>

    <div class="choose-your-role">
      <a href="//<%= Rails.application.secrets.canvas_server %>/login/cas/6">
        <div>I am a...</div>
        <span>Fellow<br />&#9654;</span>
      </a>

      <a href="//<%= Rails.application.secrets.canvas_server %>/login/cas/1">
        <div>I am an...</div>
        <span>Instructor/LC<br />&#9654;</span>
      </a>
    </div>

  </div>

  <script>
    function showAll() {
      document.getElementById("nlu_university_choice").style.display = "none";
      document.getElementById("main_university_choice").style.display = "";
      return false;
    }
    function showNlu() {
      document.getElementById("nlu_university_choice").style.display = "";
      document.getElementById("main_university_choice").style.display = "none";
      return false;
    }
  </script>
</div>
