<form method="POST" action="<%= user_save_student_confirm_path %>">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input name="enrollment_id" type="hidden" value="<%= @enrollment.id %>" />
  <div class="plank tertiary-md">
    <div class="section-container">
      <section>
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <p class="shoutout">Welcome to the <%= @program_title %> community, <%= current_user.first_name %>!</p>
              <p>We are so pleased to offer you a place in our program. We think you'll be an outstanding Braven Fellow and will really enjoy this experience.</p>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-4 col-sm-offset-4">
            <p style="text-align: center;">Are you going to join Braven?</p>

            <div><input onclick="
              document.getElementById('why-not-container').style.display = 'none';
              document.getElementById('why-maybe-container').style.display = 'none';
            " type="radio" value="yes" name="will_join" /> Yes</div>
            <div><input onchange="
              var e = document.getElementById('why-not-container');
              e.style.display = this.checked ? '' : 'none'
              document.getElementById('why-maybe-container').style.display = 'none';
            " type="radio" value="no" name="will_join" /> No</div>
              <div id="why-not-container" style="margin-left: 2em; display: none;">
                <label> Bummer! Tell us why not: <br />
                <textarea rows="4" cols="50" name="why_not"></textarea>
                </label>
              </div>
            <div><input onclick="
              document.getElementById('why-not-container').style.display = 'none';
              var e = document.getElementById('why-maybe-container');
              e.style.display = this.checked ? '' : 'none'
            " type="radio" value="maybe" name="will_join" /> Maybe</div>
              <div id="why-maybe-container" style="margin-left: 2em; display: none;">
                <label> Please tell us why: <br />
                <textarea rows="4" cols="50" name="why_maybe"></textarea>
                </label>
              </div>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <% unless @confirmed || @waitlisted %>
          <div class="apply-button">
            <button type="submit" class="btn-primary">Confirm</button>
          </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</form>
