<div class="wide-section sign-up-anchor-section should-overlap-logo">
  <div class="section-container">
    <section>
      <div class="col-sm-12 image-pads">
      </div>
    </section>
    <section>
      <div class="col-sm-6 col-sm-offset-6 big-picture">
        <% if !user_signed_in? %>
          <div class="join-us-button-container">
            <%= image_tag 'join_us.png', id: 'join-circle' %>
            <div class="join-us-text-overlay text-center">
              <br />
              <%= link_to '<button id="join-us-button" type="button" class="button-primary">JOIN US!</button>'.html_safe, new_enrollment_path %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
    <section>
      <div class="col-sm-12 image-pads">
      </div>
    </section>
  </div>
</div>

<div class="wide-section video-intro-section">
  <div class="section-container">
    <section>
      <div class="col-sm-12">
        <h1 class="text-center">
          Beyond Z
        </h1>
      </div>
    </section>
    <section>
     <div class="col-sm-6 col-sm-offset-3 text-center">
        <p class="lead text-center">
          The Beyond Z career accelerator discovers, develops, and connects diverse talent to networks and opportunities they deserve.
        </p>
      </div>
    </section>
    <section>
      <div class="col-sm-12 text-center">
        <div class="big-video-box"><iframe src="//player.vimeo.com/video/99267372" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
      </div>
    </section>
  </div>
</div>

<div class="wide-section">
  <div class="section-container">
    <section>
      <div class="col-sm-12">
        <h2>
          Our Approach
        </h2>
      </div>
    </section>
    <section>
      <div class="infographic-column">
        <%= image_tag("discover.png") %>
        <h3>Discover</h3>
        <p>young people with the focus, drive, and talent to be great</p>
      </div>
      <div class="infographic-column">
        <%= image_tag("develop.png") %>
        <h3>Develop</h3>
        <p>their authentic leadership and 21st century career skills</p>
      </div>
      <div class="infographic-column">
        <%= image_tag("connect.png") %>
        <h3>Connect</h3>
        <p>them to inspiring students, influential advocates, and career opportunities</p>
      </div>
    </section>
  </div>
</div>

<div class="wide-section voices-section">
  <div class="section-container">
    <section>
      <div class="col-sm-12">
        <h2>Voices</h2>
      </div>
    </section>
    <section>
      <div class="col-sm-12">
        <div class="well well-lg">
          <h3>
            Students
          </h3>
          <section>
            <div class="col-sm-6">
              <div class="video-box"><iframe src="//player.vimeo.com/video/99269824" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
            </div>
            <div class="col-sm-4 col-sm-offset-1 sunk-quote">
              <p><span class="large-quotes">&ldquo;</span>Beyond Z introduced me into the real world outside of academics! My interviewing and networking skills have definitely grown - I have met some incredible people and stayed in touch with many of them. My decision to enter the Education field has been reinforced through my time at BZ as well!<span class="large-quotes">&rdquo;</span>
              </p>
              <footer>- Martha Mendoza<br />University of California at Berkeley, 2016</footer>
            </div>
          </section>
        </div>
      </div>
    </section>

    <section>
      <div class="col-sm-12">
        <div class="well well-lg">
          <h3>
            Coaches
          </h3>
          <section>
            <div class="col-sm-6">
              <%= image_tag("coaches_voices_still.jpg") %>
            </div>
            <div class="col-sm-4 col-sm-offset-1 sunk-quote">
              <p><span class="large-quotes">&ldquo;</span>
                I loved getting to know the kids and hanging out with them - we got to know each of their personalities really well. I particularly loved watching them plan the Hackathon and seeing their efforts pay off. Their excitement for coding, planning, and leading at Beyond Hacks was contagious and I was thrilled for them.
              <span class="large-quotes">&rdquo;</span>
              </p>
              <footer>- Aly Mejia<br />Leadership Coach</footer>
            </div>
          </section>
        </div>
      </div>
    </section>

    <section>
      <div class="col-sm-12">
        <div class="well well-lg">
          <h3>
            Partners
          </h3>
          <section>
            <div class="col-sm-4 col-sm-offset-1 sunk-quote">
              <p><span class="large-quotes">&ldquo;</span>Beyond Z's mission is so important – provide leadership development to young people, especially first-generation college students, so that they are positioned to excel at the highest level and become global leaders. I hire Beyond Z interns because they are exceptionally talented. They are smart, passionate, and driven college students who get results.<span class="large-quotes">&rdquo;</span>
              </p>
              <footer>-Patrick O'Donnell<br />Vice President of Parent and Family Engagement, Teach For America</footer>
            </div>
            <div class="col-sm-4 col-sm-offset-2 sunk-quote">
              <p><span class="large-quotes">&ldquo;</span>All young people should be able to dream without boundaries. I am excited to be an inaugural partner with Beyond Z because their curriculum and programming will help to level the playing field for under-represented populations lacking resources and human capital necessary to reach the highest levels of leadership.<span class="large-quotes">&rdquo;</span>
              </p>
              <footer>-Kaya Henderson<br />Chancellor, Washington D.C. Public Schools</footer>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="wide-section">
  <div class="section-container text-center">
    <section>
      <div class="col-sm-12">
        <h1>Ready to jumpstart your career and leadership path today?</h1>
        <br />
        <%= link_to '<button id="join-us-button" type="button" class="button-primary">JOIN US!</button>'.html_safe, new_enrollment_path %>
      </div>
    </section>
  </div>
</div>
