<%= render 'signup_welcome' %>

<div class="wide-section" style="background-color: #009245;">
  <div class="section-container" style="background-color: #39b54a; padding: 4em; color: #fff;">
    <section>
      <div class="col-sm-12">
        <h1>Partner with Beyond Z</h1>
        <p class="shoutout">Leaders Emerge From Everywhere</p>
      </div>
    </section>
    <section>
      <div class="col-sm-12">
        <p>Our country tracks test scores over time to predict how many prison cells we need. We track young athletic talent over time to develop the next group of Division 1 athletes.  This leads to the key question - <i>why aren’t we identifying and developing academic and leadership talent over time, creating a pipeline to careers for kids growing up in low-income communities?</i></p>

        <p>Beyond Z discovers, develops, and connects diverse talent from under-resourced communities so that our next generation of leaders can emerge from everywhere. </p>

        <p>We’d love to work with you to bring our vision to reality!</p>

        <div class="text-center">
          <%= apply_now_button %>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="wide-section" style="background-color: #f2f2f2;">
  <div class="section-container" style="background-color: #fff; padding: 4em;">
    <section>
      <div class="infographic-column">
        <h3><br />Employers</h3>
        <%= image_tag("employer.png") %>
        <p>We’ve found talented, diverse college students from all academic backgrounds who are ready to join your team for the summer of 2015. Sign up to learn about bringing on a Beyond Z participant as an intern.</p>
      </div>
      <div class="infographic-column">
        <h3>Educational<br />institutions</h3>
        <%= image_tag("eduinst.png") %>
        <p>We currently work with middle school and college students in the Bay Area, Washington DC, and New York City. Sign up to learn about bringing Beyond Z to your school.</p>
      </div>
      <div class="infographic-column">
        <h3><br />Organizations</h3>
        <%= image_tag("organiztn.png") %>
        <p>We’ve partnered with NFTE, Tink, and other organizations to bring 21st century skills programming to our participants. Sign up to learn about implementing your program with Beyond Z’s students.</p>
      </div>
    </section>
  </div>
</div>

<div class="wide-section" style="background-color: #d93833;">
  <div class="section-container" style="background-color: #ea6537;">
    <section>
      <div class="col-md-12">
        <%= image_tag("educational_photo.jpg") %>
      </div>
    </section>
  </div>
</div>
<div class="wide-section" style="background-color: #d93833;">
  <div class="section-container" style="background-color: #ea6537; padding: 2em;">
    <section>
      <div class="col-sm-12 text-center">
        <%= apply_now_button %>
      </div>
    </section>
  </div>
</div>
