<%= render 'signup_welcome' %>

<section>
  <div class="col-md-12">
    <h1>Inspire today the leaders we need tomorrow</h1>
  </div>
</section>

<section>
  <div class="col-md-12">
    <p>Our volunteers believe in the unyielding leadership potential of young people growing up <b>everywhere</b>. You share our conviction that discovering, developing, and connecting that potential should be an urgent priority for us <i>as a whole community</i>. You are eager to push and inspire kids to excel, to apply themselves to something really big, to lean on and challenge one another, and to follow-through, especially when things get tough.</p>

    <p>Whatever the time you have to give, we have a role ready to be filled.  Whatever the passions you wish to share, we know a future leader ready to be inspired.</p>

    <p><%= link_to "Join us.", new_enrollment_path %></p>
  </div>
</section>

<section>
  <div class="infographic-column">
    <h3>Lorem</h3>
    <%= image_tag("volunteer_icon_1.png") %>
    <p>Behind every great team stands a great coach - someone who helps them see and then become who they've always had the potential to be.</p>
  </div>
  <div class="infographic-column">
    <h3>Ipsum</h3>
    <%= image_tag("volunteer_icon_2.png") %>
    <p>The greatest contributors in every field, from the arts to the sciences and beyond, were each introduced to their craft long before their potential was known.</p>
  </div>
  <div class="infographic-column">
    <h3>Dolor</h3>
    <%= image_tag("volunteer_icon_3.png") %>
    <p>The ways that your personal story, your experiences, and your network could transform a young person's future are endless. Let us help you make those connections.</p>
  </div>
</section>

<section>
  <div class="col-md-4">
    <p>We seek volunteers interested in making a commitment for the full academic year to coach a small group of young people regularly. <%= link_to "Learn More", new_enrollment_path %>.</p>

     <p>We’ll support you with high quality resources and trainings, as well as a community of staff and volunteers, so you can focus on building a collaborative culture that ensures they connect meaningfully with you and with one another.</p>
  </div>
  <div class="col-md-4">
    <p>Throughout the year, we need passionate volunteers who are excited to lead our multi-day, hands-on lessons that immerse our students and their coaches in unfamiliar, 21st-century, STEM-rich disciplines like Robotics.</p>
  </div>
  <div class="col-md-4">
    <p>We are eager to engage volunteers in diverse events and opportunities designed to expand our participants’ perspectives on what contributions they can make and changes they can lead.</p>
  </div>
</section>
