<div id="volunteer-page">
  <div class="plank secondary-md light main-feature under-logo">
    <div class="section-container">
      <section>
        <div class="col-md-10 col-md-offset-1">
          <p class="shoutout" style="text-transform: none;">JOIN US in ensuring the next generation of global leaders emerges from everywhere.</p>
          <p class="feature">Coach our inspiring college students to develop the skills and vision they'll need to reach their true potential.</p>
        </div>
      </section>
    </div>
  </div>

  <div class="plank tertiary-md">
    <div class="section-container">
      <section>
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="apply-button"><a href="/signup/new?applicant_type=volunteer"><div class="apply-text" style="padding-bottom: 0.5em;">SIGN UP TO START YOUR COACH APPLICATION</div><br /><div class="apply-icon"></div></a></div>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-md-6 col-md-offset-3 text-center">
          <p class="shoutout"><b>WHY</b> DO OUR LEADERSHIP COACHES VOLUNTEER?</p>
          <p class="feature">We asked them. Here's what they tell us.</p>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-xs-8">
          <h2 style="text-transform: none;">I believe in the unyielding leadership potential of young people no matter where they're from.</h2>
          <p></p>
          <%= sign_up_link('volunteer') %>
          </div>
          <div class="col-xs-4 no-pad">
            <%= image_tag 'vol-right-03.jpg' %>
          </div>
      </section>
    </div>
  </div>
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-xs-4 no-pad">
            <%= image_tag 'vol-left-03.jpg' %>
        </div>
        <div class="col-xs-8">
          <h2 style="text-transform: none;">I wouldn't be where I am if not for the coaches and teammates who invested in me. I'm ready to pay that forward.</h2>
          <%= sign_up_link('volunteer') %>
        </div>
      </section>
    </div>
  </div>
  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-xs-8">
          <h2 style="text-transform: none">It's a community unlike most: diverse in our backgrounds and careers, similar in our commitment to service and equality.</h2>
          <%= sign_up_link('volunteer') %>
        </div>
          <div class="col-xs-4 no-pad">
            <%= image_tag 'vol-right-01.jpg' %>
          </div>
      </section>
    </div>
  </div>
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-xs-4 no-pad">
            <%= image_tag 'vol-left-01.jpg' %>
        </div>
        <div class="col-xs-8">
          <h2 style="text-transform: none;">I'm directly contributing to the struggle to close our country's talent gap - and am using my personal story and life's experiences to do that.</h2>
          <%= sign_up_link('volunteer') %>
        </div>
      </section>
    </div>
  </div>


  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-xs-6" style="text-align: center; color: white; background: url('<%= path_to_image('bkg-nyc-01.jpg') %>') center center no-repeat; background-size: cover;">
          <p style="font-size: 24px;">NYC Area</p>
          <p style="font-size: 18px;">August/September - December 2015</p>

          <div class="sign-up-link"><a href="/signup/new?applicant_type=volunteer&user[bz_region]=New York City Area"><div class="sign-up-icon-white"></div><div style="color: white;" class="sign-up-text">Apply now for NYC</div></a></div>
        </div>

        <div class="col-xs-6" style="text-align: center; color: white; background: url('<%= path_to_image('bkg-sf-01.jpg') %>') center center no-repeat; background-size: cover;">
          <p style="font-size: 24px;">Bay Area</p>
          <p style="font-size: 18px;">August - December 2015</p>
          <div class="sign-up-link"><a href="/signup/new?applicant_type=volunteer&user[bz_region]=San Francisco Bay Area, San Jose&show_regions=true"><div class="sign-up-icon-white"></div><div style="color: white;" class="sign-up-text">Apply now for Bay Area</div></a></div>

        </div>
      </section>
    </div>
  </div>
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-xs-6 col-xs-offset-3">
          <h2 style="text-align: center;"><strong>HOW</strong> WILL YOU MAKE A DIFFERENCE?</h2>

          <ul>
            <li>Work directly with <strong>a team of 5-7</strong> college students for <strong>a semester</strong></li>
            <li>Facilitate a <strong>weekly evening &ldquo;lab&rdquo;</strong> - meeting primarily virtually, with occasional in-person activities</li>
            <li>Give real-world application to leadership concepts by <strong>sharing your experiences</strong> and career knowledge</li>
            <li>Support each student to design her or his personal career vision and goals – and<strong> a roadmap to get there</strong></li>
            <li>Help lead our <strong>signature Saturday workshop</strong>, <i>Story of Self</i></li>
            <li>Provide feedback to help students build <strong>high-quality portfolios</strong></li>
            <li>Expose students to <strong>your network</strong> and other unique opportunities</li>
          </ul>
        </div>
      </section>
    </div>
  </div>


  <div class="plank primary-lt">
    <div class="section-container text-center">
      <section>
        <div class="col-md-12">
          <p class="shoutout">READY TO MAKE A REAL DIFFERENCE?</p>
          <br />
          <div class="apply-button"><a href="/signup/new?applicant_type=volunteer"><div class="apply-icon"></div><div class="apply-text">JOIN US</div></a></div>
        </div>
      </section>
    </div>
  </div>
</div>
