<div id="volunteer-page">
  <div class="plank secondary-md light main-feature under-logo">
    <div class="section-container">
      <section>
        <div class="col-md-10 col-md-offset-1">
          <p class="shoutout" style="padding-top: 200px;">OUR VOLUNTEERS BELIEVE IN THE UNYIELDING LEADERSHIP POTENTIAL OF YOUNG PEOPLE GROWING UP EVERYWHERE.</p>
        </div>
      </section>
    </div>
  </div>

  <div class="plank tertiary-md">
    <div class="section-container">
      <section>
        <div class="col-md-6 col-md-offset-3 text-center">
          <p class="feature">You share our conviction that discovering, developing, and connecting that potential should be an urgent priority for us <i>as a whole community</i>. You are eager to push and inspire kids to excel, to apply themselves to something really big, to lean on and challenge one another, and to follow-through, especially when things get tough.</p>

          <p class="shoutout">Whatever the time you have to give, we have a role ready to be filled.  Whatever the passions you wish to share, we know a future leader ready to be inspired.</p>

          <br />
            <% if user_signed_in? %>
              <div class="apply-button">
                <%= link_to '<div class="apply-icon"></div><div class="apply-text">Apply now!</div>'.html_safe, new_enrollment_path %><br />
              </div>
            <% else %>
              <%= apply_button %>
            <% end %>
        </div>
      </section>
    </div>
  </div>

  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-xs-8">
          <h2>Behind every great team stands a great coach.</h2>
          <p>Someone who helps them see and then become who they've always had the potential to be. We seek volunteers interested in making a commitment for the full academic year to coach a small group of young people regularly.  We'll support you with high quality resources and trainings, as well as a community of staff and volunteers, so you can focus on building a collaborative culture that ensures they connect meaningfully with you and with one another.</p>
          <%= sign_up_link %>
          </div>
          <div class="col-xs-4">
            <div class="large-icon-rocket"></div>
          </div>
      </section>
    </div>
  </div>
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-xs-4">
          <div class="large-icon-puzzle"></div>
        </div>
        <div class="col-xs-8">
          <h2>The greatest contributors in every field, from the arts to the sciences and beyond, were each introduced to their craft long before their potential was known.</h2>
          <p>Throughout the year, we need passionate volunteers who are excited to lead our multi-day, hands-on lessons that immerse our students and their coaches in unfamiliar, 21st-century, STEM-rich disciplines like Robotics.</p>
          <%= sign_up_link %>
        </div>
      </section>
    </div>
  </div>
  <div class="plank plain-md">
    <div class="section-container">
      <section>
        <div class="col-xs-8">
          <h2>The ways that your personal story, your experiences, and your network could transform a young person's future are endless.</h2>
          <p>Let us help you make those connections. We are eager to engage volunteers in diverse events and opportunities designed to expand our participants’ perspectives on what contributions they can make and changes they can lead.</p>
          <%= sign_up_link %>
        </div>
          <div class="col-xs-4">
            <div class="large-icon-wand"></div>
          </div>
      </section>
    </div>
  </div>
  <div class="plank primary-lt">
    <div class="section-container text-center">
      <section>
        <div class="col-md-12">
          <p class="shoutout">Ready to make a real difference?</p>
          <br />
          <% if user_signed_in? %>
            <div class="apply-button">
              <%= link_to '<div class="apply-icon"></div><div class="apply-text">Apply now!</div>'.html_safe, new_enrollment_path %><br />
            </div>
          <% else %>
            <%= apply_button %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>
