<div class="wide-section" style="background-color: #009245;">
  <div class="section-container" style="background-color: #39b54a; padding-top: 4em; padding-bottom: 2em; color: #fff;">
    <section>
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <% if @new_user && !@new_user.confirmed_at.nil? %>
          <p class="shoutout">Welcome <%= @new_user.name %>!</p>
          <p class="feature">Please check our email at <%= @new_user.email %> and follow the instructions to complete your account activation.</p>
        <% end %>
      </div>
      <div class="col-sm-4 col-sm-offset-4 text-center">
        <p>
          Congratulations, you've just become part of a growing community devoted to making sure more talented young people fulfill their potential to become leaders, no matter where they come from.
        </p>
        <p>
          We'll contact you personally once your account is fully activated to discuss next steps.
        </p>
      </div>
    </section>
  </div>
</div>

<div class="wide-section">
  <div class="section-container" style="padding-top: 4em; padding-bottom: 4em;">
    <section>
      <div class="col-sm-4 col-sm-offset-4">
        <p class="shoutout">Why stop here?</p>
        <p>Help spread the word so we can discover more leaders and expand the network that supports them:</p>

        (TWITTER WIDGET HERE!!!)

      </div>
    </section>
  </div>
</div>

<div class="wide-section">
  <div class="section-container" style="padding-top: 4em; padding-bottom: 4em;">
    <section>
      <div class="col-sm-4 col-sm-offset-4">
        <p class="shoutout">Looking for what to do next?</p>
        <p>
          Check out the following links to discover all the great reasons people are joining BeyondZ:<br />
          <%= link_to 'Become a fellow', apply_path %><br />
          <%= link_to 'Volunteer with Beyond Z', volunteer_path %><br />
          <%= link_to 'Partner with Beyond Z', partner_path %>
        </p>
      </div>
    </section>
  </div>
</div>