<div class="plank tertiary-md">
  <div class="section-container">
    <section>
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <% if @new_user && @new_user.confirmed_at.nil? %>
          <p class="shoutout">Welcome <%= @new_user.name %>!</p>
          <p class="feature">Please check your email at <%= @new_user.email %> and follow the instructions to complete your account activation.</p>
        <% elsif @new_user %>
          <% if @new_user.applicant_type == 'volunteer' || @new_user.applicant_type == 'undergrad_student' %>
            <% if @application_received %>
              <h2>Thank you for applying to Beyond Z.</h2>
              <p>We will contact you as soon as we've made our decision. If you have any further questions please feel free to <a href="mailto:info@beyondz.org">contact us</a></p>
            <% else %>
                <!-- When Salesforce integration is enabled, the apply now button will be controlled
                     by a campaign on that end. Until then though, we want everyone to see it. -->
              <% if @new_user.apply_now_enabled || !Rails.application.secrets.salesforce_username %>
                <p class="shoutout">Your account was successfully activated. Now you can complete your application.</p>
                <div class="apply-button">
                  <%= link_to '<div class="apply-icon"></div><div class="apply-text">Apply now!</div>'.html_safe, new_enrollment_path %><br />
                </div>
              <% else %>
                <p class="shoutout">Your account was successfully activated. We will contact you when the application is opened.</p>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <p>
          Congratulations, you've just become part of a growing community devoted to making sure more talented young people fulfill their potential to become leaders, no matter where they come from.
        </p>
      </div>
    </section>
  </div>
</div>

<div class="plank plain-lt">
  <div class="section-container">
    <section>
      <div class="col-sm-4 col-sm-offset-4">
        <h2>Why stop here?</h2>
        <p>Help spread the word so we can discover more leaders and expand the network that supports them:</p>

        <a href="https://twitter.com/intent/tweet?button_hashtag=BeyondZ&text=I%20just%20signed%20up%20for" class="twitter-hashtag-button" data-size="large" data-url="http://beyondz.org/">Tweet #BeyondZ</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      </div>
    </section>
  </div>
</div>

<div class="plank plain-md">
  <div class="section-container">
    <section>
      <div class="col-sm-4 col-sm-offset-4">
        <p>
          You can also check out the following links to discover all the great reasons people are joining BeyondZ:<br />
          <%= link_to 'Become a fellow', apply_path %><br />
          <%= link_to 'Volunteer with Beyond Z', volunteer_path %><br />
          <%= link_to 'Partner with Beyond Z', partner_path %>
        </p>
      </div>
    </section>
  </div>
</div>
