<div class="plank tertiary-md">
  <div class="section-container">
    <section>
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <% if @new_user && @new_user.confirmed_at.nil? %>
          <p>Welcome <%= @new_user.name %>!</p>
          <p class="shoutout">Check your email at <br /> <%= @new_user.email %> <br /> to complete your sign-up.</p></p>
          <p class="feature"><strong>Tip:</strong> if you don't see it in your inbox within a few minutes, please check your spam folder.</p>
        <% elsif @new_user %>
          <% if @new_user.applicant_type == 'volunteer' || @new_user.applicant_type == 'undergrad_student' %>
            <!-- We should be able to re-enable apply now in Salesforce, overriding applicatio_received. The second clause here allows that. -->
            <% if @application_received && !(@new_user.apply_now_enabled || !Rails.application.secrets.salesforce_username) %>
              <h2>Thank you for applying to <%= @program_title %>.</h2>
              <p>We will be in touch shortly with next steps. If you have any further questions please feel free to <a href="mailto:join@bebraven.org">contact us</a></p>
            <% else %>
                <!-- When Salesforce integration is enabled, the apply now button will be controlled
                     by a campaign on that end. Until then though, we want everyone to see it. -->
              <% if @new_user.apply_now_enabled || !Rails.application.secrets.salesforce_username %>
                <% if Enrollment.find_by(:user_id => @new_user.id).nil? %>
                  <!-- FIXME: this is a hack where we auto-activate accounts b/c emails are going to spam.  Revert this once we have email activation back. -->
                  <% if @new_user.salesforce_campaign_id %>
                    <p class="shoutout">You've successfully signed up.  Now you can complete your application.</p>
                  <% else %>
                    <p class="shoutout">Your account was successfully activated. Now you can complete your application.</p>
                  <% end %>
                <% else %>
                <p class="shoutout">Thanks for coming back to finish your application. Click here to pick up where you left off!</p>
                <% end %>
                <div class="apply-button button-primary">
                  <%= link_to 'Apply now!', new_enrollment_path, style: 'color: white', onclick: 'return BZ_formSubmitWaitHelper(this);' %><br />
                </div>
              <% else %>
                <% if @program_completed %>
                  <p class="shoutout">
                  The program you signed up for has ended. If you are interested in participating in an upcoming program, please reach out to us at <a href="mailto:info@bebraven.org">info@bebraven.org</a>
                  </p>
                <% else %>
                  <p class="shoutout">Your account was successfully activated. We will contact you very soon!</p>
                <% end %>
              <% end %>
            <% end %>

          <% else %>
            <h2>Thank you for your interest in Braven.</h2>
            <p>We'll get back to you at <%= @new_user.email %> very soon!</p>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
</div>

<div class="plank plain-lt">
  <div class="section-container">
    <section>
      <div class="col-sm-4 col-sm-offset-4">
        <h2>Why stop here?</h2>
        <p>Help spread the word so we can discover more leaders and expand the network that supports them:</p>

        <a href="https://twitter.com/intent/tweet?button_hashtag=BeBraven&text=I%20just%20signed%20up%20for" class="twitter-hashtag-button" data-size="large" data-url="http://bebraven.org/">Tweet #BeBraven</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      </div>
    </section>
  </div>
</div>

<div class="plank plain-md">
  <div class="section-container">
    <section>
      <div class="col-sm-4 col-sm-offset-4">
        <p>
          You can also check out the following links to discover all the great reasons people are joining Braven:<br />
          <%= link_to 'Become a fellow', 'http://bebraven.org/become-a-fellow/' %><br />
          <%= link_to 'Volunteer with Braven', 'http://bebraven.org/volunteer-as-a-coach/' %><br />
          <%= link_to 'Partner with Braven', 'http://bebraven.org/partner-with-us/' %>
        </p>
      </div>
    </section>
  </div>
</div>
