<style>
  label { display: block; }
  ul { list-style-type: disc; }
  ol { list-style-type: decimal; }
  li { font-size: 1.2em; }
  #form-end { text-align: center; }
</style>

<div id="new-mentor-app">

      <div class="plank tertiary-md light">
        <div class="section-container">
      <section>
        <div class="col-sm-12">
          <h1>
            Professional Mentor Application
          </h1>
          </div>
        </section>
      </div>
      </div>


  <div class="plank plain-lt">
    <div class="section-container">
      <section>
      <div class="col-sm-12">




      <%= form_tag({}, {:id => 'main-form'}) do |f| %>
        <input type="hidden" name="campaign_id" value="<%=@campaign_id%>" />
        <div>
          <div>
            <div>
              <p>
                Thank you for your interest in the Professional Mentor volunteer role! Please complete the following application by
                <b><%=@due_date%></b>.
              </p>
              <p>
                <strong>About Braven:</strong><br />
                The Braven Accelerator empowers promising young people on their path to college graduation, meaningful careers, and lives of impact. Alongside educational institutions, Braven provides a scalable model to discover, develop, and connect extraordinary, diverse, and driven young people to high-quality skill building, opportunities, and networks. Braven supports its Fellows by offering:</p>
                
              <ol>
                <li>The Braven Accelerator: a credit-bearing, semester-long career and leadership course</li>
                <li>Post-course programming that continues through college graduation</li>
              </ol>

              <p>
                An essential piece of this post-course programming is the Professional Mentors program. Professional Mentors (PMs) guide Braven Fellows on their path to securing quality postgraduate opportunities and support their professional development along the way. Each PM is paired with a junior, senior, or recent college graduate at <%= @program_site %> for <strong><%=@number_of_weeks%> weeks from <%=@kickoff_date%> - <%=@end_date%></strong> and provides weekly 1:1 coaching on the job or internship search and application process and professional competencies. The volunteer commitment is as follows:
              </p>
              <ul>
                <li>Commit ~1.5 hrs per week with option to continue meeting with Fellow after commitment ends</li>
                <li>Attend an <b>in-person</b> kickoff event on <b><%=@kickoff_date%></b></li>
                <li>Attend a <strong>60min</strong> mid-commitment in-person check-in</li>
                <li>Prepare for meetings and follow up as necessary throughout the week</li>
                <li>Guide Fellow through the steps of job attainment and help them develop professional polish</li>
                <li>Serve as an advocate and cheerleader for your Fellow</li>
                <li>Keep Braven staff updated on Fellow&#8217;s progress through weekly progress forms</li>
              </ul>
              <p>Questions: Email <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a></p>
              <br />
              <div>
                <p>
                  <strong>We are looking for professionals who work in the following industries:</strong>
                  <br />
                </p>
                <p><%=simple_format(@desired_industries)%></p>
              </div>
            </div>
            <hr />
          <h2>Contact Information</h2>
            <b>Please enter the following information about yourself:</b>
            <label>
              <span class="required">First Name:</span>
              <input maxlength="255" class="form-control" required="required" name="first_name" type="text" value="<%=@first_name%>" />
            </label>
            <label>
              <span class="required">Last Name:</span>
              <input maxlength="255" class="form-control" required="required" name="last_name" type="text" value="<%=@last_name%>" />
            </label>
            <label>
              <span class="required">Email address:</span>
              <input maxlength="255" class="form-control" required="required" name="email" type="email" value="<%=@email%>" />
            </label>
            <label>
              <span class="required">LinkedIn profile URL:</span>
              <input maxlength="255" class="form-control" required="required" name="linkedin_url" type="text" />
            </label>
            <br />
            <b>Where do you live?</b>
            <label>
              <span class="required">City:</span>
              <input maxlength="255" class="form-control" required="required" name="city" type="text" value="<%=@city%>" />
            </label>
            <label>
              <span class="required">State:</span>
              <input maxlength="255" class="form-control" required="required" name="state" type="text" value="<%=@state%>" />
            </label>
            <br />
            <b>Where do you work?</b>
            <label>
              <span class="required">City:</span>
              <input maxlength="255" class="form-control" required="required" name="work_city" type="text" />
            </label>
            <label>
              <span class="required">State:</span>
              <input maxlength="255" class="form-control" required="required" name="work_state" type="text" />
            </label>
          </div>
          <h2>Professional Background</h2>
          <div>
            <br />
            <b class="required">What was your college major?</b>
            <br />
            <select class="form-control" required="required" name="major">
              <option value=""></option>
              <%= options_for_select(@fields) %>
              <option value="other">Other (please specify)</option>
            </select>
            <br />
            <b>If other, please enter here:</b>
            <label>
              <input maxlength="255" class="form-control" name="major_other" type="text" />
            </label>
            <br />
            <b>Please tell us about your current role:</b>
            <label>
              <span class="required">Employer:</span>
              <input maxlength="255" class="form-control" required="required" name="employer" type="text" />
            </label>
            <label>
              <span class="required">Title:</span>
              <input maxlength="255" class="form-control" required="required" name="title" type="text" />
            </label>
            <label>
              <span class="required">Industry i.e. if you work in Tech, select "Tech":</span>
              <select class="form-control" required="required" name="employer_industry">
                <option value=""></option>
                <%= options_for_select(@industries) %>
              </select>
            </label>
            <label>
              <span class="required">Functional area i.e. if you work in recruiting, select "Employment / Human Resources":</span>
              <select class="form-control" required="required" name="functional_area">
                <option value=""></option>
                <%= options_for_select(@job_functions) %>
              </select>
            </label>

            <br />
            <b>What other industries do you have experience working in and feel comfortable mentoring in (in addition to your current career field)? Use the list of industries listed at the beginning of the application</b>
            <label>
              <input maxlength="255" class="form-control" name="other_industries" type="text" />
            </label>
            <br />
            <b>In which of these job-readiness skills do you feel comfortable coaching a university student?</b>
            <br />
              <label><input type="checkbox" name="comfortable[]" value="Project management" /> Project management</label>
              <label><input type="checkbox" name="comfortable[]" value="Career exploration" /> Career exploration</label>
              <label><input type="checkbox" name="comfortable[]" value="Resume" /> Resume</label>
              <label><input type="checkbox" name="comfortable[]" value="Identifying opportunities" /> Identifying opportunities</label>
              <label><input type="checkbox" name="comfortable[]" value="The application process" /> The application process</label>
              <label><input type="checkbox" name="comfortable[]" value="Cover letter" /> Cover letter</label>
              <label><input type="checkbox" name="comfortable[]" value="LinkedIn profile &amp; online brand" /> LinkedIn profile &amp; online brand</label>
              <label><input type="checkbox" name="comfortable[]" value-"Professionalism" /> Professionalism</label>
              <label><input type="checkbox" name="comfortable[]" value="Networking" /> Networking (elevator pitch, informational interviews)</label>
              <label><input type="checkbox" name="comfortable[]" value="Interview practice" /> Interview practice</label>
            <br />
            <b class="required">The PM role requires you to commit ~1.5 hours per week for <%=@number_of_weeks%> weeks (<%= @kickoff_date %> through <%= @end_date %>). Is this a commitment you can realistically make?</b>
            <label>
              <input required="required" name="can_commit" value="yes" type="radio" />
              Yes
            </label>
            <label>
              <input required="required" name="can_commit" value="no" type="radio" />
              No
            </label>
            <br />
            <b class="required">Are you able to meet your Fellow in-person at the Kickoff Event on <%=@kickoff_date%> at <%=@kickoff_location%>?</b>
            <label>
              <input required="required" name="can_meet" value="yes" type="radio" />
              Yes
            </label>
            <label>
              <input required="required" name="can_meet" value="no" type="radio" />
              No
            </label>
            <br />
            <label>
              <b class="required">Why do you want to be a Braven Professional Mentor?</b>
              <textarea maxlength="3000" required="required" name="why_want_to_be_pm" class="form-control"></textarea>
            </label>
            <br />
            <label>
              <b class="required">What skills or experiences have you had that would make you a strong mentor to a First Generation and/or low-income young adult?</b>
              <textarea maxlength="4000" required="required" name="what_skills" class="form-control"></textarea>
            </label>
            <br />
            <b class="required">What are you hoping to gain from your experience being a Professional Mentor? Check all that apply.</b>
              <label><input name="what_gain[]" type="checkbox" value="I will develop a deep relationship with my mentee" /> I will develop a deep relationship with my mentee</label>
              <label><input name="what_gain[]" type="checkbox" value="I will improve my coaching abilities" /> I will improve my coaching abilities</label>
              <label><input name="what_gain[]" type="checkbox" value="I will help my mentee obtain an internship/job by the end of the program" /> I will help my mentee obtain an internship/job by the end of the program</label>
              <label><input name="what_gain[]" type="checkbox" value="I will help my mentee gain real-world connections to people in the workforce" /> I will help my mentee gain real-world connections to people in the workforce</label>
              <label><input name="what_gain[]" type="checkbox" value="I will help my mentee gain confidence in their ability to obtain a quality job the end of the program" /> I will help my mentee gain confidence in their ability to obtain a quality job the end of the program</label>
              <label><input name="what_gain[]" type="checkbox" value="I will help my mentee gain real-world connections to people in the workforce" /> I will help my mentee gain real-world connections to people in the workforce</label>
              <label><input name="what_gain[]" type="checkbox" value="I will help my mentee gain confidence in their ability to obtain a quality job" /> I will help my mentee gain confidence in their ability to obtain a quality job</label>

            <br />
            <label>
              <b>Read the following situation and then respond to the question below:</b><div><br /></div><div class="required">Your Fellow missed your last meeting and arrives late to this week's meeting. Last time you met, you had agreed that she would revise her cover letter and come prepared with five job postings she's excited about. However, it seems that she hasn't changed anything but a few spelling errors in her cover letter and she begins talking about some job postings she saw, but she doesn't have a list to show you. What do you do?</div>
              <textarea maxlength="4000" required="required" name="what_do" class="form-control"></textarea>
            </label>

            <!-- FIXME: demographics -->

            <style>
              #form-personal-bkg label {
                margin-bottom: 8px;
              }
              #form-personal-bkg label,
              #form-personal-bkg label input[type="checkbox"] {
                vertical-align: middle;
              }
            </style>

            <div id="form-personal-bkg">
              <h2 class="volunteer coach student">Personal Background</h2>
              <p class="help">We strive to ensure our community is diverse. Please respond to the following questions about your background, identity and experiences to the extent you feel comfortable.<br />
              All questions in this section are <b>optional</b>.</p>
              <h5>Which race(s)/ethnicity(-ies) do you identify with (check all that apply) <sup>&dagger;</sup> :</h5>
              <div class="form-group">
                <label><input type="checkbox" name="bkg_african_americanblack" /> African American/Black</label>
                <label><input type="checkbox" name="bkg_asian_american" /> Asian American</label>
                <label><input type="checkbox" name="bkg_latino_or_hispanic" /> Latino or Hispanic</label>
                <label><input type="checkbox" name="bkg_native_alaskan" /> Native Alaskan</label>
                <label><input type="checkbox" name="bkg_native_american_american_indian" /> Native American / American Indian</label>
                <label><input type="checkbox" name="bkg_native_hawaiian" /> Native Hawaiian</label>
                <label><input type="checkbox" name="bkg_pacific_islander" /> Pacific Islander</label>
                <label><input type="checkbox" name="bkg_whitecaucasian" /> White/Caucasian</label>
                <label><input type="checkbox" name="bkg_multi_ethnicmulti_racial" /> Multi-Ethnic/Multi-Racial</label>
                <div><input type="checkbox" id="bkg-other" /> Other: <%= text_field :bkg_other, :onfocus => 'document.getElementById("bkg-other").checked = true;', :maxlength => 40 %></div>
              </div>
              <div class="form-group" style="margin-top: 30px; margin-bottom: 30px;">
                <h5>Please check any of the following statements that you identify with <sup>&dagger;</sup> :</h5>
                <label>
                  <input type="checkbox" name="identify_poc" />
                  I identify as a person of color</label>
                <label>
                  <input type="checkbox" name="identify_low_income" />
                  I identify as having grown up in a low-income community</label>
                <label>
                  <input type="checkbox" name="pell_grant" />
                  I have received a Federal Pell Grant</label>
                <label>
                  <input type="checkbox" name="identify_first_gen" />
                  I identify as a first-generation college graduate</label>
              </div>
              <div class="form-group" style="margin-top: 30px; margin-bottom: 30px;">
                <h5>What is your gender identity? <sup>&dagger;</sup> </h5>

                <label><input type="radio" name="gender_identity" value="male" /> Male</label>
                <label><input type="radio" name="gender_identity" value="female" /> Female</label>
                <label><input type="radio" name="gender_identity" value="other" /> Other: <input type="text" maxlength="80" name="other_gender_identity"></label>

              </div>
              <label><span>What city do you identify as your hometown?</span>
                <input type="text" class="form-control" name="hometown" />
              </label>
              <label><span>What languages other than English do you speak fluently, if any?</span>
                <input type="text" class="form-control" name="languages" placeholder="Spanish, Cantonese" />
              </label>

              <div class="form-group">
                <p>&dagger; Please note that the information from these questions is used to gather statistical data on candidates and applicants and will not be used or shared in any other way.</p>
              </div>
            </div>
            <!-- #form-personal-bkg --> 



            <br />
            <label>
              <b>How did you hear about this opportunity?</b>
              <input maxlength="255" class="form-control" name="how_hear" type="text" />
            </label>
            <h2>References</h2>
            <b>Please provide the names, email addresses, and phone numbers for two references.</b>
            <label>
              <span class="required">Reference #1 name:</span>
              <input maxlength="255" class="form-control" required="required" name="reference_name" type="text" />
            </label>
            <label>
              <span class="required">Reference #1 email address:</span>
              <input maxlength="255" class="form-control" required="required" name="reference_email" type="email" onblur="if(this.value.indexOf('.') == -1) this.value += '.com';" />
            </label>
            <label>
              <span class="required">Reference #1 phone number:</span>
              <input maxlength="255" class="form-control" required="required" name="reference_phone" type="text" />
            </label>
            <label>
              <span class="required">Reference #2 name:</span>
              <input maxlength="255" class="form-control" required="required" name="reference2_name" type="text" />
            </label>
            <label>
              <span class="required">Reference #2 email address:</span>
              <input maxlength="255" class="form-control" required="required" name="reference2_email" type="email" onblur="if(this.value.indexOf('.') == -1) this.value += '.com';" />
            </label>
            <label>
              <span class="required">Reference #2 phone number:</span>
              <input maxlength="255" class="form-control" required="required" name="reference2_phone" type="text" />
            </label>

            <br />
            <b>Do you have any lingering questions about the Braven Professional Mentor Program?</b>
            <label>
              <textarea class="form-control" name="lingering_questions"></textarea>
            </label>

          </div>
        </div>
        </div>
      </section>
    </div>
    </div>

      <div class="plank tertiary-md light">
        <div class="section-container">
          <section>
            <div id="form-end">
                <div class="apply-button form-submit">
                  <button form="main-form" class="button-primary" type="submit" name="user_submit" onclick="return confirm('Are you sure you are ready to send your form?');">Send</button>
                </div>
            </div>
          </section>
        </div>
      </div>


      <% end %>

  </div>
</div>
<script>
(function() {
    function updateCountdown(el) {
      var maxlength = el.getAttribute("maxlength");
      var currentlength =  el.value.length;

      // Chrome's maxlength considers newlines to be two characters, so
      // we need to as well to provide usable feedback to the user :(

      // The other browsers, tested IE/Windows, Firefox/Windows, and Firefox/Linux
      // all work without this hack.
      if(navigator.userAgent.indexOf("Chrome") != -1)
        currentlength = el.value.replace(/\n/g, "\r\n").length;
      el.nextElementSibling.textContent = currentlength + '/' + maxlength;
    }
    var ta = document.querySelectorAll("textarea[maxlength]");
    for(var i = 0; i < ta.length; i++) {
      ta[i].addEventListener("change", function(ev) {
        updateCountdown(ev.target);
      });
      ta[i].addEventListener("keyup", function(ev) {
        updateCountdown(ev.target);
      });

      ta[i].insertAdjacentHTML("afterend", '<span class="countdown"></span>');
      updateCountdown(ta[i]);
    }
})();
</script>

