<style>
  label { display: block; }
  ol, ul { list-style-type: initial; }
  #form-end { text-align: center; }
</style>
<div id="new-mentee-app">

      <div class="plank tertiary-md light">
        <div class="section-container">
      <section>
        <div class="col-sm-12">
          <h1>
            Mentee Application
          </h1>
          </div>
        </section>
      </div>
      </div>


  <div class="plank plain-lt">
    <div class="section-container">
      <section>
      <div class="col-sm-12">




      <%= form_tag({}, {:id => 'main-form'}) do |f| %>

        <input type="hidden" name="campaign_id" value="<%=@campaign_id%>" />
        <div>
          <div>
            <div>
              <p>
                Thank you for your interest in Braven's Professional Mentor Program! This program is currently open to all Braven Post-Accelerator Fellows (PAFs) who:
              </p>
              <ol>
                <li>Completed the Braven accelerator</li>
                <li>Are juniors, seniors, or just graduated</li>
                <li>Are looking for a full-time job to start after graduation and are eager to begin the process immediately (if you are applying to graduate school and plan to enroll immediately post-graduation, this program is not the best fit for you) OR are looking for a career-accelerating internship</li>
                <li>Live in the <%= @program_area %></li>
                <li>Can commit at least ~3 hours per week on the program</li>
              </ol>
              <div>
              </div>
              <p>If you are accepted into the program, you will be matched with a Professional Mentor (PM) who will support you on your path to securing a quality postgraduate opportunity or internship. PMs will provide you with weekly 1:1 coaching on the opportunity search and application process.</p>
              <p><b>Your commitment is as follows:</b></p>
              <ul>
                <li>Commit ~3 hrs per week for <%=@number_of_weeks %> weeks starting <%=@kickoff_date %>, with the option to continue meeting with your PM after the commitment ends</li>
                <li>Attend a kickoff event on or near campus on <b><%=@kickoff_date%></b></li>
                <li>Meet once a week with your PM virtually at a mutually convenient time (typically one-hour meetings)</li>
                <li>Prepare for meetings by progressing in the job application process (2+ hours per week)</li>
                <li>Be responsive, prompt, and diligent throughout the commitment</li>
                <li>Keep the Braven team updated on your progress via weekly checklists</li>
                <li>#GoTogetherGoFurther with your PM and #FindaWay to secure a postgraduate, career-accelerating opportunity!</li>
              </ul>
              <p>To participate in the Professional Mentor program, please <strong>complete the following application before <%=@due_date%>.</strong> You will be notified if you have been selected to participate within two weeks of your submission.</p>
            </div>
            <hr />
            <h2>Contact Information</h2>
            <b>Please enter the following information about yourself:</b>
            <label>
              <span class="required">First Name:</span>
              <input class="form-control" required="required" name="first_name" type="text" maxlength="255" value="<%=@first_name%>" />
            </label>
            <label>
              <span class="required">Last Name:</span>
              <input class="form-control" required="required" name="last_name" type="text" maxlength="255" value="<%=@last_name%>" />
            </label>
            <label>
              <span class="required">Email address:</span>
              <input class="form-control" required="required" name="email" type="email" maxlength="255" value="<%=@email%>" />
            </label>
            <label>
              <span class="required">Phone number:</span>
              <input class="form-control" required="required" name="phone" type="tel" maxlength="255" value="<%=@phone%>" />
            </label>
            <label>
              <span class="required">LinkedIn profile URL:</span>
              <input class="form-control" required="required" name="linkedin_url" maxlength="255" type="text" />
            </label>
            <br />
            <b class="required">Which semester did you/will you graduate?</b>
            <label>
              <input required="required" name="when_graduate" value="Fall 2018" type="radio" />
              Fall 2018
            </label>
            <label>
              <input required="required" name="when_graduate" value="Spring 2019" type="radio" />
              Spring 2019
            </label>
            <label>
              <input required="required" name="when_graduate" value="Summer 2019" type="radio" />
              Summer 2019
            </label>
            <label>
              <input required="required" name="when_graduate" value="Fall 2019" type="radio" />
              Fall 2019
            </label>
            <label>
              <input required="required" name="when_graduate" value="Spring 2020" type="radio" />
              Spring 2020
            </label>
            <label>
              <input required="required" name="when_graduate" value="Summer 2020" type="radio" />
              Summer 2020
            </label>
            <label>
              <input required="required" name="when_graduate" value="Fall 2020" type="radio" />
              Fall 2020
            </label>
            <label>
              <input required="required" name="when_graduate" value="Spring 2021" type="radio" />
              Spring 2021
            </label>
            <label onclick="this.querySelector('input[type=text]').focus();">
              <input required="required" name="when_graduate" value="other" type="radio" />
              Other:
              <input onclick="this.parentNode.querySelector('input[type=radio]').checked=true;" type="text" name="when_graduate_other" />
            </label>
            <br />
            <b>Where do you currently live?</b>
            <label>
              <span class="required">City:</span>
              <input class="form-control" required="required" name="city" maxlength="255" type="text" />
            </label>
            <label>
              <span class="required">State:</span>
              <input class="form-control" required="required" name="state" maxlength="255" type="text" />
            </label>
          </div>
          <h2>Academic Background</h2>
          <div>
            <br />
            <b class="required">What is your major?</b>
            <br />
            <select class="form-control" required="required" name="major">
              <option value=""></option>
              <%= options_for_select(@fields) %>
              <option value="other">Other (please specify)</option>
            </select>
            <br />
            <b>If other, please enter here:</b>
            <label>
              <input class="form-control" name="major_other" maxlength="255" type="text" />
            </label>
            <br />
            <div>
              <b class="required">What career industries interest you? (i.e. You are interested in working in the health field, so you select health)</b>
                <% @industries.each do |industry| %>
                  <label><input type="checkbox" name="interests[]" value="<%=industry %>"> <%= industry %></label>
                <% end %>
            </div>
            <br />
            <div>
              <b class="required">What functional areas interest you? (i.e. You are interested in working as a recruiter, so you select Employment/Human Resources)</b>
                <% @job_functions.each do |f| %>
                  <label><input type="checkbox" name="interests_areas[]" value="<%= f %>"> <%= f %></label>
                <% end %>
            </div>
            <br />
            <label>
              <b class="required">What is your desired job after graduation?</b>
              <input class="form-control" required="required" maxlength="255" name="desired_job" type="text" />
            </label>
            <br />
            <label>
              <b class="required">Why does this career field/this specific job interest you?</b>
              <textarea class="form-control" required="required" maxlength="2000" name="why_interested_in_field"></textarea>
            </label>
            <label>
              <b class="required">How many internships have you had?</b>
              <input class="form-control" required="required" name="internships_count" type="number" min="0" max="99" />
            </label>
          </div>
          <h2>PM Commitment</h2>
          <div>
            <br />
            <label>
              <b class="required">What would you say are your strengths and areas of growth?</b>
              <textarea class="form-control" required="required" maxlength="3000" name="strengths_and_growths"></textarea>
            </label>
            <br />
            <label>
              <b class="required">What would be most helpful to you in the job search?</b>
              <textarea class="form-control" required="required" maxlength="1500" name="what_most_helpful"></textarea>
            </label>
            <br />
            <b class="required">Are you willing to work with a mentor who can help you in the areas you identified but who works in a different profession than your desired career field?</b>
            <label>
              <input required="required" name="willing_to_work_with_other_field" value="yes" type="radio" />
              Yes
            </label>
            <label>
              <input required="required" name="willing_to_work_with_other_field" value="no" type="radio" />
              No
            </label>
            <hr />
            <br />
            <label>
              <b class="required">To work with a Professional Mentor, you&#8217;ll need to commit to meeting (virtually) for one hour each week for the duration of the commitment, meet once in-person at the kickoff event, and complete all prep and follow-up work in pursuit of your goals (~1.5 hours/week). You will need to be responsive and arrive promptly to meetings. Is this a commitment you can make? Why or why not?</b>
              <textarea class="form-control" required="required" maxlength="1500" name="can_commit"></textarea>
            </label>
            <br />
            <label>
              <b class="required">Why are you interested in the opportunity to work with a Professional Mentor?</b>
              <textarea class="form-control" required="required" maxlength="2000" name="why_interested_in_pm"></textarea>
            </label>
            <br />
            <label>
              <b class="required">Read the following situation and then respond to the question below: It's midterms season and have 2 midterms this week plus a paper due tomorrow. You also have personal matters at home that are taking up a lot of your mental energy. You realize your weekly meeting with your Professional Mentor is this evening, and you haven't done any of the prep work you promised you would complete by today. You also realize you scheduled a group study session that conflicts with your meeting. What do you do?</b>
              <textarea class="form-control" required="required" name="what_do"></textarea>
            </label>
            <br />
            <b>How did you hear about this opportunity?</b>
            <label>
              <input class="form-control" name="how_hear" type="text" />
            </label>
            <br />
            <b>Do you have any lingering questions about the Braven Professional Mentor Program?</b>
            <label>
              <textarea class="form-control" name="lingering_questions"></textarea>
            </label>
          </div>
        </div>
      </div>




        </div>
      </section>
    </div>

      <div class="plank tertiary-md light">
        <div class="section-container">
          <section>
            <div id="form-end">
                <div class="apply-button form-submit">
                  <button form="main-form" class="button-primary" type="submit" name="user_submit" onclick="return confirm('Are you sure you are ready to send your form?');">Send</button>
                </div>
            </div>
          </section>
        </div>
      </div>


      <% end %>






  </div>
</div>
<script>
(function() {
    function updateCountdown(el) {
      var maxlength = el.getAttribute("maxlength");
      var currentlength =  el.value.length;

      // Chrome's maxlength considers newlines to be two characters, so
      // we need to as well to provide usable feedback to the user :(

      // The other browsers, tested IE/Windows, Firefox/Windows, and Firefox/Linux
      // all work without this hack.
      if(navigator.userAgent.indexOf("Chrome") != -1)
        currentlength = el.value.replace(/\n/g, "\r\n").length;
      el.nextElementSibling.textContent = currentlength + '/' + maxlength;
    }
    var ta = document.querySelectorAll("textarea[maxlength]");
    for(var i = 0; i < ta.length; i++) {
      ta[i].addEventListener("change", function(ev) {
        updateCountdown(ev.target);
      });
      ta[i].addEventListener("keyup", function(ev) {
        updateCountdown(ev.target);
      });

      ta[i].insertAdjacentHTML("afterend", '<span class="countdown"></span>');
      updateCountdown(ta[i]);
    }
})();
</script>

