<style>
  label { display: block; }
  ol, ul { list-style-type: initial; }
  #form-end { text-align: center; }
</style>

<div id="new-mentor-app">

      <div class="plank tertiary-md light">
        <div class="section-container">
      <section>
        <div class="col-sm-12">
          <h1>
            Professional Mentor Application
          </h1>
          </div>
        </section>
      </div>
      </div>


  <div class="plank plain-lt">
    <div class="section-container">
      <section>
      <div class="col-sm-12">




      <%= form_tag({}, {:id => 'main-form'}) do |f| %>
        <input type="hidden" name="campaign_id" value="<%=@campaign_id%>" />
        <div>
          <div>
            <div>
              <p>
                Thank you for your interest in the Professional Mentor volunteer role! Please complete the following application by
                <b><%=@due_date%></b>.
              </p>
              <p>
                The Braven Accelerator empowers promising young people on their path to college graduation, meaningful careers, and lives of impact. Alongside educational institutions, Braven provides a scalable model to discover, develop, and connect extraordinary, diverse, and driven young people to high-quality skill building, opportunities, and networks. Braven supports its Fellows by offering 1) the Braven Accelerator: a credit-bearing, semester-long career and leadership course, and 2) programming that continues through college graduation.
              </p>
              <p>
                As an essential piece of this programming, Professional Mentors (PMs) guide Braven Fellows on their path to securing quality postgraduate opportunities and support their professional development along the way. Each PM is paired with a junior, senior, or recent college graduate at <%= @program_site %> for&#160;
                <strong><%=@number_of_weeks%> weeks from <%=@kickoff_date%> - <%=@end_date%></strong>
                &#160;and provides weekly 1:1 coaching on the job or internship search and application process and professional competencies. The volunteer commitment is as follows:
              </p>
              <ul>
                <li>Commit ~2 hrs per week with option to continue meeting with Fellow after commitment ends</li>
                <li>Attend an<b> in-person </b>kickoff event&#160;on <b><%=@kickoff_date%></b></li>
                <li>Attend a&#160;<strong>60min&#160;</strong>mid-commitment check-in call&#160;</li>
                <li>Meet with Fellow&#160;once a week virtually at a mutually convenient time</li>
                <li>Meet in-person at least once during the commitment (in addition to kickoff)</li>
                <li>Prepare for meetings and follow up as necessary throughout the week</li>
                <li>Guide Fellow through the steps of job attainment and help them develop professional polish</li>
                <li>Serve as an advocate and cheerleader for your Fellow</li>
                <li>Keep Braven staff updated on Fellow&#8217;s progress through weekly progress forms&#160;</li>
              </ul>
              <br />
              Questions: Email <a href="mailto:<%=@contact_email%>"><%=@contact_email%></a>
              <div>
                <p>
                  <strong>We are looking for professionals who work in the following industries:</strong>
                  <br />
                  <br />
                </p>
                <p><%=simple_format(@desired_industries)%></p>
              </div>
            </div>
            <hr />
            <br />
          <h2>Contact Information</h2>
            <b>&#160;Please enter the following information about yourself:</b>
            <label>
              <span class="required">First Name:</span>
              <input maxlength="255" class="form-control" required="required" name="first_name" type="text" value="<%=@first_name%>" />
            </label>
            <label>
              <span class="required">Last Name:</span>
              <input maxlength="255" class="form-control" required="required" name="last_name" type="text" value="<%=@last_name%>" />
            </label>
            <label>
              <span class="required">Email address:</span>
              <input maxlength="255" class="form-control" required="required" name="email" type="email" value="<%=@email%>" />
            </label>
            <label>
              <span class="required">LinkedIn profile URL:</span>
              <input maxlength="255" class="form-control" required="required" name="linkedin_url" type="text" />
            </label>
            <br />
            <b>Where do you live?</b>
            <label>
              <span class="required">City:</span>
              <input maxlength="255" class="form-control" required="required" name="city" type="text" value="<%=@city%>" />
            </label>
            <label>
              <span class="required">State:</span>
              <input maxlength="255" class="form-control" required="required" name="state" type="text" value="<%=@state%>" />
            </label>
            <br />
            <b>Where do you work?</b>
            <label>
              <span class="required">City:</span>
              <input maxlength="255" class="form-control" required="required" name="work_city" type="text" />
            </label>
            <label>
              <span class="required">State:</span>
              <input maxlength="255" class="form-control" required="required" name="work_state" type="text" />
            </label>
          </div>
          <h2>Professional Background</h2>
          <div>
            <br />
            <b class="required">What was your college major?</b>
            <br />
            <select class="form-control" required="required" name="major">
              <option value=""></option>
              <%= options_for_select(@fields) %>
              <option value="other">Other (please specify)</option>
            </select>
            <br />
            <b>If other, please enter here:</b>
            <label>
              <input maxlength="255" class="form-control" name="major_other" type="text" />
            </label>
            <br />
            <b>Please tell us about your current role:</b>
            <label>
              <span class="required">Employer:</span>
              <input maxlength="255" class="form-control" required="required" name="employer" type="text" />
            </label>
            <label>
              <span class="required">Title:</span>
              <input maxlength="255" class="form-control" required="required" name="title" type="text" />
            </label>
            <label>
              <span class="required">Industry/field:</span>
              <select class="form-control" required="required" name="employer_industry">
                <option value=""></option>
                <%= options_for_select(@industries) %>
              </select>
            </label>
            <br />
            <b>What other industries/fields do you have experience working in and feel comfortable mentoring in (in addition to your current career field)? Use the list of industries listed at the beginning of the application&#160;</b>
            <label>
              <input maxlength="255" class="form-control" name="other_industries" type="text" />
            </label>
            <br />
            <b>In which of these job-readiness skills do you feel comfortable coaching a university student?</b>
            <br />
              <label><input type="checkbox" name="comfortable[]" value="Project management" /> Project management</label>
              <label><input type="checkbox" name="comfortable[]" value="Career exploration" /> Career exploration</label>
              <label><input type="checkbox" name="comfortable[]" value="Resume" /> Resume</label>
              <label><input type="checkbox" name="comfortable[]" value="Identifying opportunities" /> Identifying opportunities</label>
              <label><input type="checkbox" name="comfortable[]" value="The application process" /> The application process</label>
              <label><input type="checkbox" name="comfortable[]" value="Cover letter" /> Cover letter</label>
              <label><input type="checkbox" name="comfortable[]" value="LinkedIn profile &amp; online brand" /> LinkedIn profile &amp; online brand</label>
              <label><input type="checkbox" name="comfortable[]" value-"Professionalism" /> Professionalism</label>
              <label><input type="checkbox" name="comfortable[]" value="Networking" /> Networking (elevator pitch, informational interviews)</label>
              <label><input type="checkbox" name="comfortable[]" value="Interview practice" /> Interview practice</label>
            <br />
            <b class="required">The PM role requires you to commit ~2 hours per week for <%=@number_of_weeks%> weeks (<%= @kickoff_date %> through <%= @end_date %>). Is this a commitment you can realistically make?</b>
            <label>
              <input required="required" name="can_commit" value="yes" type="radio" />
              Yes
            </label>
            <label>
              <input required="required" name="can_commit" value="no" type="radio" />
              No
            </label>
            <br />
            <b class="required">Are you able to meet your Fellow in-person at the Kickoff Event on <%=@kickoff_date%> at <%=@kickoff_location%> as well as one other time during the commitment? (all other meetings can be conducted virtually)</b>
            <label>
              <input required="required" name="can_meet" value="yes" type="radio" />
              Yes
            </label>
            <label>
              <input required="required" name="can_meet" value="no" type="radio" />
              No
            </label>
            <br />
            <label>
              <b class="required">Why do you want to be a PM?</b>
              <textarea maxlength="3000" required="required" name="why_want_to_be_pm" class="form-control"></textarea>
            </label>
            <br />
            <label>
              <b class="required">What skills or experiences have you had that would make you a strong mentor to a student/young adult?</b>
              <textarea maxlength="4000" required="required" name="what_skills" class="form-control"></textarea>
            </label>
            <br />
            <label>
              <b>Read the following situation and then respond to the question below:</b><div><br /></div><div class="required"><b>Your Fellow missed your last meeting and arrives late to this week's meeting. Last time you met, you had agreed that she would revise her cover letter and come prepared with five job postings she's excited about. However, it seems that she hasn't changed anything but a few spelling errors in her cover letter and she begins talking about some job postings she saw, but she doesn't have a list to show you. What do you do?</b></div>
              <textarea maxlength="4000" required="required" name="what_do" class="form-control"></textarea>
            </label>
            <br />
            <label>
              <b>How did you hear about this opportunity?&#160;</b>
              <input maxlength="255" class="form-control" name="how_hear" type="text" />
            </label>
            <br />
            <b>Please provide the names, email addresses, and phone numbers for two references.</b>
            <label>
              <span class="required">Reference #1 name:</span>
              <input maxlength="255" class="form-control" required="required" name="reference_name" type="text" />
            </label>
            <label>
              <span class="required">Reference #1 email address:</span>
              <input maxlength="255" class="form-control" required="required" name="reference_email" type="email" />
            </label>
            <label>
              <span class="required">Reference #1 phone number:</span>
              <input maxlength="255" class="form-control" required="required" name="reference_phone" type="text" />
            </label>
            <label>
              <span class="required">Reference #2 name:</span>
              <input maxlength="255" class="form-control" required="required" name="reference2_name" type="text" />
            </label>
            <label>
              <span class="required">Reference #2 email address:</span>
              <input maxlength="255" class="form-control" required="required" name="reference2_email" type="email" />
            </label>
            <label>
              <span class="required">Reference #2 phone number:</span>
              <input maxlength="255" class="form-control" required="required" name="reference2_phone" type="text" />
            </label>
          </div>
        </div>



        </div>
      </section>
    </div>
    </div>

      <div class="plank tertiary-md light">
        <div class="section-container">
          <section>
            <div id="form-end">
                <div class="apply-button form-submit">
                  <button form="main-form" class="button-primary" type="submit" name="user_submit" onclick="return confirm('Are you sure you are ready to send your form?');">Send</button>
                </div>
            </div>
          </section>
        </div>
      </div>


      <% end %>

  </div>
</div>
<script>
(function() {
    function updateCountdown(el) {
      var maxlength = el.getAttribute("maxlength");
      var currentlength =  el.value.length;

      // Chrome's maxlength considers newlines to be two characters, so
      // we need to as well to provide usable feedback to the user :(

      // The other browsers, tested IE/Windows, Firefox/Windows, and Firefox/Linux
      // all work without this hack.
      if(navigator.userAgent.indexOf("Chrome") != -1)
        currentlength = el.value.replace(/\n/g, "\r\n").length;
      el.nextElementSibling.textContent = currentlength + '/' + maxlength;
    }
    var ta = document.querySelectorAll("textarea[maxlength]");
    for(var i = 0; i < ta.length; i++) {
      ta[i].addEventListener("change", function(ev) {
        updateCountdown(ev.target);
      });
      ta[i].addEventListener("keyup", function(ev) {
        updateCountdown(ev.target);
      });

      ta[i].insertAdjacentHTML("afterend", '<span class="countdown"></span>');
      updateCountdown(ta[i]);
    }
})();
</script>

