<div class="container-fluid">
  <section>
    <div>

      <%= form_for [submission.assignment, submission] do |f| %>

        <%= render "shared/form_errors", locals: {object: submission} %>

        <% if submission.kind == 'file' %>
          <div class="submission_file">
            <%= f.fields_for :files do |file| %>
              <span class="submission_name"><%= "#{submission.submission_definition.name} (#{submission.file_type})" %>:</span>
              <span class="submission_file_field"><%= file.file_field submission.file_type %></span>
            <% end %>
            <span><%= f.submit "Submit", class: 'btn-assign-submit' %></span>
          </div>
          <div class="clear"></div>
        <% end %>

      <% end %>

    </div>
  </section>
</div>
