<div class="container-fluid">
  <section>
    <div>

      <%= form_for [submission.assignment, submission] do |f| %>

        <% if submission.errors.any? %>
          <div id="error_explanation">
            <h2>Please fix the following errors before clicking 'Submit':</h2>
            <ul>
            <% submission.errors.full_messages.each do |msg| %>
              <li><%= msg.html_safe %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <% if submission.kind == 'file' %>
          <div class="submission_file">
            <%= f.fields_for :files do |file| %>
              <span class="submission_name"><%= "#{submission.submission_definition.name} (#{submission.file_type})" %>:</span>
              <span class="submission_file_field"><%= file.file_field submission.file_type %></span>
            <% end %>
            <span><%= f.submit "Submit", class: 'btn-assign-submit' %></span>
          </div>
          <div class="clear"></div>
        <% end %>

      <% end %>

    </div>
  </section>
</div>