<!-- This form is for <%= @enrollment.position %>. -->
<% if @enrollment_read_only %>
<div id="enrollment-form-holder" class="readonly">
<% else %>
<div id="enrollment-form-holder">
<% end %>
  <%= form_for @enrollment, role: 'form' do |f| %>
    <%= render :partial => "shared/form_errors", locals: { object: @enrollment } %>

      <div class="plank tertiary-md light">
        <div class="section-container">
          <header id="prototype-header">
          <h1>Application for <%= @program_title %> - <%= @program_site %><br /><%= Date.today.year %></h1>
          </header>

          <p class="help coach">
           To apply to volunteer as a <%= @program_title %> Leadership Coach in our <%= @program_site %> program, please complete and submit this application in its entirety. Your answers will be automatically saved as you move between questions, and you can safely leave this page and log back in at any time to resume your work. Your application won't be considered for evaluation until you click SEND at the bottom of the form.
          </p>

          <p class="help student">
            To apply to participate in <%= @program_title %> - <%= @program_site %>, please complete and submit this application in its entirety.
          </p>
          <p class="help student">
            As a reminder, this selective opportunity requires your participation in diverse activities intended to build your leadership and career skills, which can include: weekly evening 2-hour group meetings; occasional weekend events (for exact date(s), please see our website); and individual coaching sessions. As part of the program, you will also complete weekly online modules (approx 2 hours, each) on your own.
          </p>

          <p class="help">The application should take approximately 20 minutes to complete and includes the following sections:</p>

        </div>
        <!--.section-container--> 
      </div>
      <div class="plank knockout-md coach student">
        <div class="section-container">
          <ul id="jumplinks" style="padding: 20px 0;"></ul>
        </div>
      </div>
      <div class="plank plain-md">
        <div class="section-container">
          <section>
            <div id="form-basics">
              <h2 class=" coach student form-section-header">Basic Information</h2>

              <!-- I'm keeping this here because the javascript checks these IDs
                   but eventually we should probably remove it and do it all server side. -->
              <div class="form-group" id="form-user-type" <%= (@position_is_set ? 'style="display: none;"'.html_safe : '') %>>
                <h5>Applying as</h5>
                <input value="" type="hidden" name="position" />
                <label class="radio"><%= f.radio_button :position, 'coach', 'value' => 'coach', 'id' => 'position_coach' %>Leadership Coach</label><label class="radio"><%= f.radio_button :position, 'student', 'value' => 'student', 'id' => 'position_student' %>Participant (student)</label>
              </div>
              <!-- end part that should be cut -->

              <div class="coach student" id="form-name">
                <h4>Your Name</h4>
                <div class="form-group has-success">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, :class => 'form-control short', :required => 'required', :maxlength => '35' %>
                </div>
                <div class="form-group has-success">
                  <%= f.label :middle_name %>
                  <%= f.text_field :middle_name, :class => 'form-control short', :maxlength => '70' %>
                </div>
                <div class="form-group has-success">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, :class => 'form-control short', :required => 'required', :maxlength => '70' %>
                </div>
              </div>
              <!-- #form-name -->
              <div class="coach student" id="form-contact">
                <h4>Your Contact Info</h4>
                <div class="form-group has-success">
                  <label>Primary Email</label>
                  <%= f.text_field :email, 'class' => 'form-control medium', 'type' => 'email', :required => 'required' %>
                </div>
                <div class="form-group">
                  <label>Primary Phone</label>
                  <%= f.text_field :phone, 'class' => 'form-control short', 'title' => 'phone number including area code', 'pattern' => '.{10,21}', 'type' => 'tel' %>
                </div>
                <div class="form-group">
                  <label class="checkbox">
                    <%= f.check_box :accepts_txt %>
                    <span class="bs-wrapper"><span class="control-label">I can accept text messages on this phone</span> </span></label>
                </div>
                <div class="form-group">
                  <label>Where do you live?</label>
                  <br />
                  <%= f.text_field :city, 'class' => 'form-control short', 'placeholder' => 'City', 'style' => 'display: inline', :maxlength => '35' %>
                  <%= f.text_field :state, 'class' => 'form-control short', 'placeholder' => 'State', 'style' => 'display: inline', :maxlength => '35' %>
                </div>
                <div class="form-group student">
                  <label>Your date of birth (MM/DD/YYYY)</label>
                  <%= f.text_field :birthdate, 'class' => 'form-control short', 'placeholder' => '2/28/1994', 'pattern' => '[0-9]{1,2}/[0-9]{1,2}/[0-9]{4}' %>
                </div>

                <% if @student_id_required %>
                <div class="form-group">
                  <label>Your <%= @program_site %> Student ID</label>
                  <%= f.text_field :student_id, 'class' => 'form-control short', 'title' => 'Student ID', 'required' => 'required', :maxlength => '35' %>
                </div>
                <% end %>
              </div>
              <!-- #form-contact -->
              <!-- #form-track --> 
            </div>
            <!-- #form-basics --> 
          </section>
        </div>
        <!-- .section-container --></div>

      <div class="plank plain-lt both coach student">
        <div class="section-container">
          <section>
            <div id="form-academics">
              <h2 class="coach student form-section-header">Academic Background</h2>
              <div style="margin-bottom: 2.5em;">
                <!-- I'm not using the checkbox directly because we can't
                     distinguish between explicitly unchecked and initial
                     load with it (in both cases, the value would just not
                     be present). With the separate field, the JS will set
                     it and then we can show/hide based on it being present
                     and set to zero explicitly. -->
                <input type="hidden" id="university-hide" name="university_hide" value="0" />
                <label><input type="checkbox" onchange="
                  document.getElementById('form-degree').style.display = this.checked ? '' : 'none';
                  document.getElementById('university-hide').value = this.checked ? '0':'1';
                  "
                  <%= (params[:university_hide] == '1') ? '' : 'checked' %>  />
                <span>I've earned my college degree and/or am currently enrolled in a college degree program</label>
              </div>
              <div id="form-degree" style="<%= (params[:university_hide] == '1') ? 'display: none' : '' %>">
                <div class="form-group both">
                  <label>Undergraduate College/University</label>
                  <%= f.text_field :university, 'class' => 'form-control', 'type' => 'text', 'placeholder' => 'Example: San Jose State University', :maxlength => '45' %>
                </div>
                <div class="form-group both">
                  <label class="student">Year of expected graduation</label>
                  <label class="coach">Year of graduation</label>
                  <%= f.text_field :anticipated_graduation, 'class' => 'form-control short', 'step' => '1', 'type' => 'number', 'min' => Date.today.year - 50 %>
                  <!-- the -50 there is an arbitrary amount to account for the coach case,
                       where they may have graduated many years ago, -->
                </div>
                <div class="form-group student">
                  <label>Previous university/college(s), if any (leave blank if none)</label>
                  <%= f.text_field :previous_university, 'class' => 'form-control', 'type' => 'text', :maxlength => '220' %>
                </div>


                <p class="help student">Note: We are asking the following questions in order to gain a fuller understanding of your academic background. Your answers will not directly affect your chances of being accepted.</p>

                <div class="form-group both coach student">
                  <label>Major<span class="student">/Concentration or intended major, if you have one. (Leave blank if none. If pursuing multiple majors, list all.)</span> <span class="coach"> (List all, if multiple)</span></label>
                  <%= f.text_field :major, 'class' => 'form-control', 'type' => 'text', :maxlength => '115' %>
                </div>

                <div class="form-group student">
                  <label>What is your college GPA?</label>
                  <%= f.text_field :gpa, 'class' => 'form-control short', 'max' => '10', 'step' => '0.01', 'type' => 'number', 'min' => '0' %>
                </div>
                <div class="form-group student">
                  <label>Is there anything you'd like us to know about circumstances affecting your GPA?</label>
                  <%= f.text_area :gpa_circumstances, 'class' => 'form-control', 'maxlength' => '300' %>
                </div>


                <!--
                <div class="form-group student">
                  <label>If you'd like, feel free to provide us with your high school GPA, SAT, and/or ACT scores:</label>
                  <br />
                  High School GPA: <%= f.text_field :hs_gpa, 'class' => 'form-control short', 'maxlength' => '12' %>
                  Overall SAT: <%= f.text_field :sat_score, 'class' => 'form-control short', 'maxlength' => '12' %>
                  Overall ACT: <%= f.text_field :act_score, 'class' => 'form-control short', 'maxlength' => '12' %>
                </div>
                -->

                <div class="form-group coach">
                  <label>Graduate school, if any</label>
                  <%= f.text_field :grad_school, 'class' => 'form-control', 'type' => 'text', 'maxlength' => '45' %>
                  <label>Graduate degree</label>
                  <%= f.text_field :grad_degree, 'class' => 'form-control', 'type' => 'text', 'maxlength' => '75' %>
                  <label>Graduation year (actual or expected)</label>
                  <%= f.text_field :anticipated_grad_school_graduation, 'class' => 'form-control short', 'step' => '1', 'type' => 'number', 'min' => Date.today.year - 50 %>
                  <!-- the -50 there is an arbitrary amount to account for the coach case,
                       where they may have graduated many years ago, -->
                </div>
              </div>
              <!-- #form-degree --> 
            </div>
            <!-- #form-academics --> 
          </section>
        </div>
        <!-- .section-container --></div>


      <div class="plank plain-md coach student">
        <div class="section-container">
          <section>
            <div id="form-prof-bkg">
              <h2 class="student">Professional and Volunteer Background and Commitment</h2>
              <h2 class="coach">Professional and Volunteer Experience</h2>
              <div class="form-group coach">
                <h5>What is your current occupation?:</h5>
                <p class="help">Please respond to at least one of the following questions about your occupation (industry, company, title).</p>
                <label>Industry:</label>
                  <%= f.text_field :industry, "class"=>'form-control', 'maxlength' => '75' %><br />
                <label>Company:</label>
                  <%= f.text_field :company, "class"=>'form-control', 'maxlength' => '75' %><br />
                <label>Title:</label>
                  <%= f.text_field :title, "class"=>'form-control', 'maxlength' => '75' %><br />
              </div>
              <div class="form-group coach student">
                <label class="student">Please list all your extracurricular, volunteer, and professional commitments for the upcoming school year (<%= Date.today.year %> - <%= Date.today.year+1 %>).</label>
                <label class="coach">Please list any other significant volunteer commitments you've made for the upcoming year (<%= Date.today.year %> - <%= Date.today.year+1 %>), including Board commitments, pro bono work, coaching, and other volunteer roles (recurring or occasional).</label>
                <p class="help student">Please include approximate hours per month, and if it varies by semester, please note that too. Ex: Student worker at the library, 25 hours/month. Rugby captain, 30 hours/month, fall semester only.</p>
                <p class="help coach">Please include approximate hours per month, and if it varies by season, please note that too. Ex: AAU girls' coach, 10 hours/week, summer only. Board member, Carver Academy - East, 4 hours/month.</p>
                <%= f.text_area :current_volunteer_activities, 'class' => 'form-control', 'maxlength' => '300' %>
              </div>

              <div class="form-group coach student" id="form-leadership-exp">
                <label class="coach">What is <u>one</u> recent professional or volunteer experience that has been particularly meaningful to you? Why?</label>
                <p class="coach help">While we are interested in the diversity of activities in which you're involved, we are also curious to learn more about a single experience that has been particularly meaningful to your development as a leader.</p>
                <label class="student">What is <u>one</u> professional, extracurricular, or volunteer experience that has been particularly meaningful to you? Why?</label>
                <p class="student help">While we are interested in seeing the diversity of activities in which you're involved (described in the preceding question), we are also curious about which single experience has been particularly meaningful to your development.</p>
                <%= f.text_area :meaningful_experience, 'class' => 'form-control', 'maxlength' => '300' %>
              </div>

              <div class="form-group coach student">
                <label class="coach">Please provide a link to a "digital fingerprint" that will help us understand you better.</label>
                <p class="help coach">Good examples include: your LinkedIn profile, an article you wrote, the website of an organization particularly meaningful to you, etc. (Less helpful are links to your Facebook, Instagram, or Twitter accounts.) Please make sure the links are public.<span class="coach"> If you'd prefer to upload a document in lieu of submitting a second link, please click the "Choose File" button below.</span></p>
                <div class="input-group coach">
                  <%= f.text_field :online_resume, 'class' => 'form-control medium', 'type' => 'url', 'placeholder' => 'Paste URL here', 'onblur' => 'this.value = this.value.replace(/[^a-zA-Z0-9%\-_\.~:\/\?#\[\]@!\$\'\(\)\*\&\+,;=]/g, ""); if(this.value.length && this.value.indexOf("http") != 0) this.value = "http://"+this.value;' %>
                  <%= f.text_field :online_resume2, 'class' => 'form-control medium', 'type' => 'url', 'placeholder' => 'Paste URL here', 'onblur' => 'this.value = this.value.replace(/[^a-zA-Z0-9%\-_\.~:\/\?#\[\]@!\$\'\(\)\*\&\+,;=]/g, ""); if(this.value.length && this.value.indexOf("http") != 0) this.value = "http://"+this.value;' %>
                </div>
              </div>
              <div class="form-group coach student">
                <label class="coach">Or upload a resume as a .doc or .pdf file (2 MB or less)</label>
                <label class="student">Optionally, you may upload a resume as a .doc or .pdf file (2 MB or less)</label>
                <%= f.file_field :resume %>
                <% if @enrollment.resume.present? %>
                  <%= link_to 'Download previously uploaded resume', @enrollment.resume.url %>
                <% end %>
              </div>
              <!-- #form-resume -->
              <!--
              <div class="form-group student">
                <label>How will you have spent the summer of <%= Date.today.year %>?</label>
                <p class="help">Please briefly describe your responsibilities or activities.</p>
                <%= f.text_area :last_summer, 'class' => 'form-control', 'maxlength' => '150' %>
              </div>
              -->
             <div class="form-group student">
                <label class="coach">If still in college, what do you hope to do post-graduation?</label>
                <label class="student">If you had to choose now, what job/profession do you want to pursue after graduation?</label>
                <p class="help">Even if you aren't quite sure yet, please let us know what you are hoping to do, or options you are seriously considering.</p>
                <%= f.text_area :post_graduation_plans, 'class' => 'form-control', 'maxlength' => '150' %>
              </div>
            <!-- #form-commitment --> 
            </div>
          </section>
        </div>
        <!-- .section-container -->
      </div>


      <div class="plank plain-lt both coach student">
        <div class="section-container">
          <section>
            <div id="form-reflective">
              <h2 class="coach student form-section-header">Short-Answer Reflective Questions</h2>
              <p class="help">Please use complete sentences!</p>

              <div class="form-group coach student">
                <label class="student">Why do you want to join the <%= @program_title %>?</label>
                <label class="coach">Why do you want to be a <%= @program_title %> Leadership Coach?</label>
                <%= f.text_area :why_bz, 'class' => 'form-control', 'maxlength' => '500' %>
              </div>

              <div class="form-group student">
                <label>Please think of an important challenge you have conquered and the setbacks you overcame to do so. What did you discover about yourself as a result?</label>
                <%= f.text_area :conquered_challenge, 'class' => 'form-control', 'maxlength' => '500' %>
              </div>


              <div class="form-group coach">
                <label>What areas of personal expertise or passion are you particularly excited to share with <%= @program_title %> participants?</label>
                <%= f.text_area :personal_passion, 'class' => 'form-control', 'maxlength' => '300' %>
              </div>
              <div class="form-group coach">
                <label>Share about one of your experiences teaching, coaching, and/or working with young people. Describe your role/experience, your impact, and key moment(s) of learning or reflections.</label>
                <p class="help">Please think expansively. Examples include years leading a classroom, summers coaching a youth sports team, time leading or participating in a work-based mentoring or onboarding program, etc.</p>
                <%= f.text_area :teaching_experience, 'class' => 'form-control', 'maxlength' => '500' %>
              </div>

            </div>

          </section>
        </div>
      </div>

      <div class="plank plain-md student coach">
        <div class="section-container">
          <section>
            <div id="form-references" class="coach">
              <h2 class="coach">References</h2>
              <p class="help">Please list TWO people we could contact as character references. Good examples include a manager, colleague, professor, mentor, or a peer who knows you well.</p>
              <p>For each reference, please provide either a phone number or email address (or both).</p>
              <div>
                                <div class="form-refernce">
                  <div class="form-group">
                    <label>Reference 1 Name</label>
                    <%= f.text_field :reference_name, 'class' => 'form-control medium', 'type' => 'text', 'placeholder' => 'First and last name', 'maxlength' => 240 %>
                  </div>
                  <div class="form-group">
                    <label>How do you know this person?</label>
                    <%= f.text_field :reference_how_known, 'class' => 'form-control', 'type' => 'text', 'maxlength' => 240 %>
                  </div>
                  <div class="form-group">
                    <label>How long have you known this person?</label>
                    <p class="help">E.g: &quot;2 years&quot;</p>
                    <%= f.text_field :reference_how_long_known, 'class' => 'form-control short', 'type' => 'text', 'maxlength' => 160 %>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <%= f.text_field :reference_email, 'class' => 'form-control medium', 'type' => 'email' %>
                  </div>
                  <div class="form-group">
                    <label>Phone Number</label>
                    <%= f.text_field :reference_phone, 'class' => 'form-control short', 'type' => 'tel', 'pattern' => '.{10,21}', 'title' => 'phone number including area code' %>
                  </div>
                </div>
                <!-- .form-reference -->
                                <div class="form-refernce">
                  <div class="form-group">
                    <label>Reference 2 Name</label>
                    <%= f.text_field :reference2_name, 'class' => 'form-control medium', 'type' => 'text', 'placeholder' => 'First and last name', 'maxlength' => 240 %>
                  </div>
                  <div class="form-group">
                    <label>How do you know this person?</label>
                    <%= f.text_field :reference2_how_known, 'class' => 'form-control', 'type' => 'text', 'maxlength' => 240 %>
                  </div>
                  <div class="form-group">
                    <label>How long have you known this person?</label>
                    <p class="help">E.g: &quot;2 years&quot;</p>
                    <%= f.text_field :reference2_how_long_known, 'class' => 'form-control short', 'type' => 'text', 'maxlength' => 160 %>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <%= f.text_field :reference2_email, 'class' => 'form-control medium', 'type' => 'email' %>
                  </div>
                  <div class="form-group">
                    <label>Phone Number</label>
                    <%= f.text_field :reference2_phone, 'class' => 'form-control short', 'type' => 'tel', 'pattern' => '.{10,21}', 'title' => 'phone number including area code' %>
                  </div>
                </div>
                <!-- .form-reference -->
              </div>
            </div>
            <!-- #form-references --> 
          </section>
        </div>
        <!-- .section-container --> 
      </div>

      <div class="plank plain-lt both coach student">
        <div class="section-container">
          <section>
            <div id="form-personal-bkg">
              <h2 class="coach student">Personal Background</h2>
              <p class="help">We strive to ensure our community is diverse. Please respond to the following questions about your background, identity and experiences to the extent you feel comfortable.<br />
              All questions in this section are <b>optional</b> and have no bearing on our selection decisions.</p>
              <h5>Which race(s)/ethnicity(-ies) do you identify with (check all that apply) <sup>&dagger;</sup> :</h5>
              <div class="form-group">
                <label class="checkbox"><%= f.check_box :bkg_african_americanblack, 'value' => 'african-americanblack', 'id' => 'bkg_african-americanblack' %>African American/Black</label>
                <label class="checkbox"><%= f.check_box :bkg_asian_american, 'value' => 'asian-american', 'id' => 'bkg_asian-american' %>Asian American</label>
                <label class="checkbox"><%= f.check_box :bkg_latino_or_hispanic, 'value' => 'latino-or-hispanic', 'id' => 'bkg_latino-or-hispanic' %>Latino or Hispanic</label>
                <label class="checkbox"><%= f.check_box :bkg_native_alaskan, 'value' => 'native-alaskan', 'id' => 'bkg_native-alaskan' %>Native Alaskan</label>
                <label class="checkbox"><%= f.check_box :bkg_native_american_american_indian, 'value' => 'native-american-american-indian', 'id' => 'bkg_native-american-american-indian' %>Native American / American Indian</label>
                <label class="checkbox"><%= f.check_box :bkg_native_hawaiian, 'value' => 'native-hawaiian', 'id' => 'bkg_native-hawaiian' %>Native Hawaiian</label>
                <label class="checkbox"><%= f.check_box :bkg_pacific_islander, 'value' => 'pacific-islander', 'id' => 'bkg_pacific-islander' %>Pacific Islander</label>
                <label class="checkbox"><%= f.check_box :bkg_whitecaucasian, 'value' => 'whitecaucasian', 'id' => 'bkg_whitecaucasian' %>White/Caucasian</label>
                <label class="checkbox"><%= f.check_box :bkg_multi_ethnicmulti_racial, 'value' => 'multi-ethnicmulti-racial', 'id' => 'bkg_multi-ethnicmulti-racial' %>Multi-Ethnic/Multi-Racial</label>
                <div><input type="checkbox" id="bkg-other" /> Other: <%= f.text_field :bkg_other, :onfocus => 'document.getElementById("bkg-other").checked = true;', :maxlength => 40 %></div>
              </div>
              <div class="form-group" style="margin-top: 30px; margin-bottom: 30px;">
                <h5>Please check any of the following statements that you identify with <sup>&dagger;</sup> :</h3>
                <label class="checkbox">
                  <%= f.check_box :identify_poc %>
                  I identify as a person of color</label>
                <label class="checkbox">
                  <%= f.check_box :identify_low_income %>
                  I identify as having grown up in a low-income community</label>

                <label class="checkbox">
                  <%= f.check_box :pell_grant %>
                  I do receive or have received a Federal Pell Grant</label>
                <label class="checkbox">
                  <%= f.check_box :identify_first_gen %>
                  I identify as a first-generation college student <span class="help"><br />(i.e., I don't have a parent or legal guardian who has completed a four-year degree)</span></label>

                <label class="checkbox">
                  <%= f.check_box :study_abroad %>
                  I am an international student studying abroad in the United States for only one semester.</label>
              </div>
              <div class="form-group" style="margin-top: 30px; margin-bottom: 30px;">
                <h5>What is your gender identity? <sup>&dagger;</sup> </h3>

                <label class="radio"><input type="radio" name="enrollment[gender_identity]" value="male" <%= (@enrollment.gender_identity == 'male') ? 'checked' : '' %> /> Male</label>
                <label class="radio"><input type="radio" name="enrollment[gender_identity]" value="female" <%= (@enrollment.gender_identity == 'female') ? 'checked' : '' %> /> Female</label>
                <label class="radio"><input type="radio" name="enrollment[gender_identity]" value="other"  <%= (@enrollment.gender_identity && @enrollment.gender_identity != 'male' && @enrollment.gender_identity != 'female') ? 'checked' : '' %> /> Other: <input type="text" maxlength="80" name="other_gender_identity" value="<%= (@enrollment.gender_identity != 'male' && @enrollment.gender_identity != 'female') ? @enrollment.gender_identity : '' %>"></label>

              </div>
              <div class="form-group">
                <label>What city do you identify as your hometown?</label>
                <%= f.text_field :hometown, 'class' => 'form-control short', 'type' => 'text', 'maxlength' => '100' %>
              </div>
              <div class="form-group">
                <label>What languages other than English do you speak fluently, if any?</label>
                <%= f.text_field :languages, 'class' => 'form-control', 'type' => 'text', 'placeholder' => 'Example: Spanish, Cantonese' %>
              </div>

              <div class="form-group">
                <p>&dagger; Please note that the information from these questions is used to gather statistical data on candidates and applicants and will not be used or shared in any other way.</p>
              </div>
            </div>
            <!-- #form-personal-bkg --> 
          </section>
        </div>
        <!-- .section-container --></div>


      <div class="plank plain-lt both coach <%= (@request_availability && @meeting_times) ? "student" : "" %>">
        <div class="section-container">
          <section>
            <div id="form-availability">
              <h2 class="coach <%= (@request_availability && @meeting_times) ? "student" : "" %>">Availability</h2>

              <% if @request_availability && @meeting_times %>
              <input type="hidden" name="meeting_times_required" value="1" />

              <%= f.label :meeting_times, "Please select from the list below ALL times during which you expect to be available for #{@program_title} sessions during the fall, 2015.", :class => 'student' %>

              <p class="student"><i>Please be accurate:</i> You will be assigned to a group that meets weekly during one of these meeting times. Note: It's important that you are as accurate as possible in this application, though we also understand your schedule may change after you’ve submitted. You'll have another chance to confirm your availability before program launch.</p>

              <%= f.label :meeting_times, "Please select from the list below ALL <u>times</u> during which you expect to be available to lead cohort sessions through the end of #{Date.today.year}.".html_safe, :class => 'coach' %>

              <p class="coach"><i>Please be flexible:</i> The more options you select, the greater our opportunity to ensure all participants benefit from the great diversity of our community.</p>

              <p class="coach"><i>Please note</i>: Your invitation to join <%= @program_title %> - <%= @program_site %> will include a specific campus location, day, and timeslot, at which point you'll be asked to officially confirm your role. It's important that you are as accurate as possible, so we can make reliable matches between coaches and participants. However, we also understand your schedule may change after you've submitted. <i>If that happens, or if you are currently very unsure of your fall schedule, please email us with details at <a href="mailto:info@bebraven.org">info@bebraven.org</a>.</i></p>

              <p>You must check at least one option.</p>


              <div class="availability-options">
              <% @meeting_times.lines.map(&:strip).each do |time| %>
                <%
                  # Chop off the number of slots which may be on the end as the user doesn't
                  # need to see that at this point; it is just our internal thing
                  idx = time.rindex(':')
                  if idx
                    time = time[0 .. idx-1]
                  end
                %>
                <label class="control-label" style="padding-left: 32px;"><input type="checkbox" name="meeting_times[]" value="<%=time%>" <%= checked_if_in_array(:meeting_times, time, @enrollment[:meeting_times]) %> /> <%= time %></label><br />
              <% end %>
              </div>

              <br />

              <% end %>
              <h5 class="coach">Please affirm your commitment:</h5>
              <div class="form-group coach" id="coach-affirm-holder">
                <label class="checkbox">
                  <%= f.check_box :affirm_commit_coach %>
                  <span class="bs-wrapper"><span class="control-label"> I affirm that to the best of my knowledge I can fulfill the commitment to participate in all Leadership Coach activities, which can include: facilitating weekly cohort sessions (a mix of in-person and virtual); leading virtual individual coaching sessions participants; and delivering feedback on selected artifacts (e.g., resumes) submitted by participants.</span></span>
                </label>

              </div>

              <div class="form-group coach">
                <span class="coach">Please let us know of any dates that you anticipate you will not be available through the end of <%= Date.today.year %>.</span>
                <%= f.text_area :cannot_attend, 'class' => 'form-control', 'maxlength' => '300', 'style'=>'height: 6em !important;' %>
              </div>
            </div>

          </section>
        </div>
      </div>

      <div class="plank plain-lt student">
        <div class="section-container">
          <section>
            <div id="form-affirmations" class="student">
              <h2 class="student form-section-header student">Affirmations</h2>

              <div class="form-group student">
                <label class="checkbox">
                  <%= f.check_box :will_be_student %>
                  <span class="bs-wrapper"><span class="control-label">I affirm that I am qualified to participate in <%= @program_title %> as a student in good academic standing enrolled at <%= @program_site %>.</span></span>
                </label>
              </div>

              <div class="form-group student">
                <label class="checkbox">
                  <%= f.check_box :affirm_qualified %>
                  <span class="bs-wrapper"><span class="control-label">I affirm to the best of my knowledge that I can fulfill the commitment to attend all required activities and complete all required modules and assignments. This can include: weekly 2-hour group sessions; weekly independent online modules (approx 2 hours, each); weekend events (for exact date(s), please see our website); and individual coaching sessions.</span></span> </label>
              </div>

              <div class="form-group student">
                <label class="checkbox">
                  <%= f.check_box :affirm_commit %>
                  <span class="bs-wrapper"><span class="control-label">I affirm that, if accepted and enrolled, I commit to participate fully in <%= @program_title %> by coming to all programming prepared to engage in conversations and to support and challenge my peers.</span></span> </label>
              </div>
            </div>
          </section>
        </div>
      </div>


      <div class="plank plain-md coach student">
        <div class="section-container">
          <section>
            <div id="form-almost-done">
              <h2 class="coach student">Almost Done</h2>
              <div class="form-group">
                <label>Anything else you'd like to share?</label>
                <p class="help">Please let us know any additional information you wish to share about your interest in <%= @program_title %> - <%= @program_site %>.</p>
                <%= f.text_area :comments, 'class' => 'form-control', 'maxlength' => '300' %>
              </div>

              <!--
                Sourcing_Options is a string: one option per line. If a line
                ends with a colon, it displays a text box to get details.

                Otherwise, we output a hidden control so the server side code
                can handle the array uniformly (first entry is the checkbox, next
                is the details) but the user doesn't have to see it.
              -->
              <% if !@sourcing_options.empty? %>
              <div class="form-group">
                <label>How did you hear about us? Please select all that apply.</label>
                <table>
                  <% @sourcing_options.lines.each do |option| %>
                  <% option = option.strip %>
                  <!-- visibility: none maintains the same spacing as if it was there... -->
                    <tr><td><input type="checkbox" value="<%= option %>" name="lead_sources[]" <%= checked_if_in_array(:lead_sources, option, @enrollment.lead_sources) %> />&nbsp;</td><td><%= option %> &nbsp;</td><td><input type="text" style="visibility: <%= (option.strip.ends_with? ':') ? 'visible' : 'hidden' %>" class="form-control" name="lead_sources[]" onchange="this.parentNode.parentNode.querySelector('input[type=checkbox]').checked = true;" value="<%= value_after_array(:lead_sources, option, @enrollment.lead_sources) %>" /> <!-- details unnecessary for this but nice consistency to have two inputs per row for simpler array processing code --></tr>
                  <% end %>
                </table>
              </div>
              <% end %>
              <div class="form-group">
                <label>Last but not least</label>
                <p class="help">Approximately how long (in minutes) did it take you to complete this application?</p>
                <div class="input-group short">
                  <%= f.text_field :time_taken, 'class' => 'form-control', 'step' => '1', 'type' => 'number', 'min' => '0' %>
                  <span class="input-group-addon">minutes</span>
                </div>
              </div>
            </div>
            <!-- #form-almost-done --> 
          </section>
        </div>
      </div>
      <div class="plank tertiary-md student coach">
        <div class="section-container">
          <section>
            <div id="form-end">
              <% if @enrollment_read_only %>
                <div class="apply-button">This application has been received!</div>
              <% else %>
                <div class="apply-button form-submit">
                  <button class="button-primary" type="submit" name="user_submit" onclick="return confirm('Are you sure you are ready to send your application?');">SEND</button>
                </div>
              <% end %>
            </div>
            <!-- #form-almost-done --> 
          </section>
        </div>
      </div>
  <% end %>
</div>
