<section>
  <div class="col-sm-12">
    <h1>
      Get Involved
    </h1>
    <p class="lead">
    We’re excited for you to get involved!  Whether you’re interested in participating as a fellow, volunteering as a speaker or coach, or becoming a partner organization, you’re in the right place. Tell us who you are and we’ll be in touch soon!  
    </p>
  </div>
</section>

<section id="sign-up-form">
  <div class="col-sm-5 col-sm-offset-1">
    <%= form_for :user, url: enrollments_path, role: 'form' do |f| %>
      <%= render 'shared/form_errors', locals: { object: @user } %>
      <div class="form-group">
        <%= f.label :first_name, 'Name' %>
        <section>
          <div class="col-sm-6">
            <%= f.text_field :first_name, :class => 'form-control', required: 'required', placeholder: 'First Name', style: 'float: left;' %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :last_name, :class => 'form-control', required: 'required', placeholder: 'Last Name', style: 'float: left;'  %>
          <div>
        </section>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, :type => 'email', :required => 'required', :class => 'form-control', placeholder: 'Email'%>
      </div>

      <div class="form-group">
        <%= f.label  :password %>
        <%= f.password_field :password, :class => 'form-control', required: 'required', placeholder: 'Create a password'%>
        <!-- <p class="help-block">Enter a password so you can log in later.</p> -->
      </div>

      <div class="form-group">
        <label style="display: block;">Where do you live?</label>
        <%= f.text_field :city, :class => 'form-control', required: 'required', placeholder: 'City', style: 'width: 20em; display: inline-block;' %>
        <%= f.select :state, options_for_select([
          'AL', 'AK', 'AZ', 'AR', 'CA', 'CO',
          'CT', 'DE', 'DC', 'FL', 'GA', 'HI',
          'ID', 'IL', 'IN', 'IA', 'KS', 'KY',
          'LA', 'ME', 'MD', 'MA', 'MI', 'MN',
          'MS', 'MO', 'MT', 'NE', 'NV', 'NH',
          'NJ', 'NM', 'NY', 'NC', 'ND', 'OH',
          'OK', 'OR', 'PA', 'RI', 'SC', 'SD',
          'TN', 'TX', 'UT', 'VT', 'VA', 'WA',
          'WV', 'WI', 'WY',
        ]) %>
      </div>

      <div class="form-group">
        <label>I am a...</label>
        <div>
          <%= f.radio_button :applicant_type, 'undergrad_student', required: 'required' %>
          <%= f.label :applicant_type_undergrad_student, 'Undergraduate student' %>
          <div class="form-option-details">
            Anticipated graduation:
            <%= select_tag :anticipated_undergrad_graduation, options_for_select([2015, 2016, 2017, 2018, 2019]) %>
          </div>
        </div>
        <div>
          <%= f.radio_button :applicant_type, 'grad_student', required: 'required' %>
          <%= f.label :applicant_type_grad_student, 'Graduate student' %>
          <div class="form-option-details">
            Anticipated graduation:
            <%= select_tag :anticipated_grad_graduation, options_for_select([2015, 2016, 2017, 2018, 2019]) %>
          </div>
        </div>
        <div>
          <%= f.radio_button :applicant_type, 'school_student' %>
          <%= f.label :applicant_type_school_student, 'Middle school or high school student', required: 'required' %>
          <div class="form-option-details">
            Grade:
            <%= select_tag :grade, options_for_select([12, 11, 10, 9, 8, 7, 6]) %>
          </div>
        </div>
        <div>

          <%= f.radio_button :applicant_type, 'professional', required: 'required' %>
          <%= f.label :applicant_type_professional, 'Local Professional' %>
          <div class="form-option-details">
            <%= text_field_tag :professional_details, nil, :class => 'form-control', :placeholder => 'What do you do?' %>
          </div>
        </div>
        <!--
        <div>
          <%= f.radio_button :applicant_type, 'supporter', required: 'required' %>
          <%= f.label :applicant_type_supporter, 'Supporter' %>
        </div>
        -->
        <div>
          <%= f.radio_button :applicant_type, 'family_member', required: 'required' %>
          <%= f.label :applicant_type_family_member, 'Family member of a Beyond Z Participant' %>
        </div>
        <div>
          <%= f.radio_button :applicant_type, 'other' %>
          <%= f.label :applicant_type_other, 'Other?' %>
          <div class="form-option-details">
            <%= text_field_tag :other_details, nil, :class => 'form-control', :placeholder => 'Who?' %>
          </div>
        </div>
      </div>

      <!--
      <div class="form-group">
        <%= f.check_box :keep_updated, checked: true %>
        <%= f.label :keep_updated, 'Keep me updated about the BZ 2014-2015 Program' %>
      </div>
      -->
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 col-sm-offset-2">
    <h2>Why Join?</h2>
    <blockquote>
      <p>"You become part of a team that could actually make a difference. You learn that you have a story and how to tell it. You meet lots of highly motivated, inspiring people."</p>
      <footer>Andy Yitalo, Stanford University</footer>
    </blockquote>
    <blockquote>
      <p>"I loved getting to know the kids and hanging out with them - we got to know each of their personalities really well. I particularly loved watching them plan the Hackathon and seeing their efforts pay off. Their excitement for coding, planning, and leading at Beyond Hacks was contagious and I was thrilled for them."</p>
      <footer>Aly Mejia</footer>
    </blockquote>
  </div>
</section>
