<section>
  <div class="col-sm-12">
    <h1>
      Get involved with the movement to ensure our next generation of leaders emerges from everywhere.
    </h1>
  </div>
</section>

<section id="sign-up-form">
  <div class="col-sm-5 col-sm-offset-1">
    <%= form_for :user, url: enrollments_path, role: 'form' do |f| %>
      <div class="form-group">
        <%= f.label :first_name, 'Name' %>
        <section>
          <div class="col-sm-6">
            <%= f.text_field :first_name, :class => 'form-control', required: 'required', placeholder: 'First Name', style: 'float: left;' %>
            <p class="help-block">Enter your first name.</p>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :last_name, :class => 'form-control', required: 'required', placeholder: 'Last Name', style: 'float: left;'  %>
            <p class="help-block">Enter your last name.</p>
          <div>
        </section>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, :type => 'email', :required => 'required', :class => 'form-control', placeholder: 'Email'%>
      </div>

      <div class="form-group">
        <%= f.label  :password %>
        <%= f.password_field :password, :class => 'form-control', required: 'required', placeholder: 'Password'%>
        <p class="help-block">Enter a password so you can log in later.</p>
      </div>

      <div class="form-group">
        <h3>I am a...</h3>
        <%= f.radio_button :applicant_type, 'student', checked: true %>
        <%= f.label :applicant_type_student, 'College Student with an anticipated graduation year of' %>
        <%= f.select :anticipated_graduation, options_for_select([2015, 2016, 2017, 2018, 2019]) %>
        <br />
        <%= f.radio_button :applicant_type, 'college_faculty' %>
        <%= f.label :applicant_type_college_faculty, 'College Faculty or Staff' %>
        <br />
        <%= f.radio_button :applicant_type, 'educator' %>
        <%= f.label :applicant_type_educator, 'Educator or School Leader' %>
        <br />
        <%= f.radio_button :applicant_type, 'professional' %>
        <%= f.label :applicant_type_professional, 'Local Professional' %>
        <!--
        <br />
        <%= f.radio_button :applicant_type, 'supporter' %>
        <%= f.label :applicant_type_supporter, 'Supporter' %>
        -->
        <br />
        <%= f.radio_button :applicant_type, 'other' %>
        <%= f.label :applicant_type_other, 'Other?' %>
        <%= text_field_tag :other_type, nil, :class => 'form-control', :placeholder => 'Who?' %>
      </div>

      <div class="form-group">
        <%= f.check_box :keep_updated, checked: true %>
        <%= f.label :keep_updated, 'Keep me updated about the BZ 2014-2015 Program' %>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">Continue</button>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 col-sm-offset-2">
    <h2>Why Join?</h2>
    <blockquote>
      <p>"You become part of a team that could actually make a difference. You learn that you have a story and how to tell it. You meet lots of highly motivated, inspiring people."</p>
      <footer>Andy Yitalo, Stanford University</footer>
    </blockquote>
  </div>
</section>
