<section>
  <h1>
    Jump start your career and leadership path
  </h1>
</section>

<section>
  <div class="col-sm-8 col-sm-offset-1">
    <h2>
      Join us! Apply to become a BZ Academy Fellow today
    </h2>
    <p>
      Tell us who you are and we will be in touch directly with you!
    </p>
    <%= form_tag enrollments_path, role: 'form' do %>
      <div class="form-group">
        <label for="user[first_name]">Name</label>
        <section>
          <div class="col-sm-6">
            <%= text_field_tag 'user[first_name]', '', :required => 'required', :class => 'form-control', placeholder: 'First Name', style: 'float: left;' %>
            <p class="help-block">Enter your first name.</p>
          </div>
          <div class="col-sm-6">
            <%= text_field_tag 'user[last_name]', '', :required => 'required', :class => 'form-control', placeholder: 'Last Name', style: 'float: left;'  %>
            <p class="help-block">Enter your last name.</p>
          <div>
        </section>
      </div>
      <div class="form-group">
        <label for="user[email]">Email</label>
        <%= text_field_tag 'user[email]', '', :type => 'email', :required => 'required', :class => 'form-control', placeholder: 'Email'%>
      </div>

      <div class="form-group">
        <label for="user[password]">Create Password</label>
        <%= password_field_tag 'user[password]', '', :class => 'form-control', :required => 'required', placeholder: 'Password'%>
        <p class="help-block">Enter a password so you can log in later.</p>
      </div>

      <div class="form-group clear">
        <h3>Are you a...</h3>
          <label><input type="radio" name="user[applicant_type]" value="student" checked="checked" /> College Student with an anticipated graduation year of</label>
            <select name="user[anticipated_graduation]">
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
              <option>2019</option>
            </select>
          <br />
          <label><input type="radio" name="user[applicant_type]" value="college_faculty" /> College Faculty or Staff</label>
          <br />
          <label><input type="radio" name="user[applicant_type]" value="professional" /> Professional</label>
          <br />
          <label><input type="radio" name="user[applicant_type]" value="supporter" /> Supporter</label>
          <br />
          <label><input type="radio" name="user[applicant_type]" value="other" /> Other?</label> <input type="text" name="other_type" />
      </div>

      <label><input type="checkbox" name="user[keep_updated]" checked="checked" /> Keep me updated about the BZ 2014-2015 Program</label>

      <br />
      <button type="submit" class="btn btn-lg btn-primary">Continue</button>
    <% end %>
  </div>

  <div class="col-sm-2">
    <h2>Why Join?</h2>
    <blockquote>
      <p>Something inspirational</p>
      <cite>--Aimee</cite>
    </blockquote>
  </div>
</section>
