<section>
  <div class="col-sm-12">
    <h1>
      Jump start your career and leadership path
    </h1>
  </div>
</section>

<section id="sign-up-form">
  <div class="col-sm-5 col-sm-offset-1">
    <h2 class="well well-lg">
      Join us! Apply to become a BZ Academy Fellow today
    </h2>
    <p class="lead">
      Tell us who you are and we will be in touch directly with you!
    </p>
    <%= form_for :user, url: enrollments_path, role: 'form' do |f| %>
      <div class="form-group">
        <%= f.label :first_name, 'Name' %>
        <section>
          <div class="col-sm-6">
            <%= f.text_field :first_name, :class => 'form-control', required: 'required', placeholder: 'First Name', style: 'float: left;' %>
            <p class="help-block">Enter your first name.</p>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :last_name, :class => 'form-control', required: 'required', placeholder: 'Last Name', style: 'float: left;'  %>
            <p class="help-block">Enter your last name.</p>
          <div>
        </section>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, :type => 'email', :required => 'required', :class => 'form-control', placeholder: 'Email'%>
      </div>

      <div class="form-group">
        <%= f.label  :password %>
        <%= f.password_field :password, :class => 'form-control', required: 'required', placeholder: 'Password'%>
        <p class="help-block">Enter a password so you can log in later.</p>
      </div>

      <div class="form-group">
        <h3>I am a...</h3>
        <%= f.radio_button :applicant_type, 'student', checked: true %>
        <%= f.label :applicant_type_student, 'College Student with an anticipated graduation year of' %>
        <%= f.select :anticipated_graduation, options_for_select([2015, 2016, 2017, 2018, 2019]) %>
        <br />
        <%= f.radio_button :applicant_type, 'college_faculty' %>
        <%= f.label :applicant_type_college_faculty, 'College Faculty or Staff' %>
        <br />
        <%= f.radio_button :applicant_type, 'professional' %>
        <%= f.label :applicant_type_professional, 'Professional' %>
        <br />
        <%= f.radio_button :applicant_type, 'supporter' %>
        <%= f.label :applicant_type_supporter, 'Supporter' %>
        <br />
        <%= f.radio_button :applicant_type, 'other' %>
        <%= f.label :applicant_type_other, 'Other?' %>
        <%= text_field_tag :other_type, nil, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.check_box :keep_updated, checked: true %>
        <%= f.label :keep_updated, 'Keep me updated about the BZ 2014-2015 Program' %>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">Continue</button>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 col-sm-offset-2">
    <h2>Why Join?</h2>
    <blockquote>
      <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
      <footer>Aimee</footer>
    </blockquote>
  </div>
</section>
