<div class="plank plain-md">
  <div class="section-container">
    <section>
      <div class="col-md-4 col-md-offset-4">
        <h2>Platform Login</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div><%= f.label :email %><br />
          <%= f.email_field :email, autofocus: params[:email].nil?, :class => 'form-control', :value => params[:email] %></div>

          <div><%= f.label :password %><br />
            <%= f.password_field :password, autofocus: !params[:email].nil?, autocomplete: "off", :class => 'form-control' %></div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div><%= f.submit "Log in", :class => 'button-primary' %></div>
        <% end %>
        <br />
        <%= render "devise/shared/links" %>
      </div>
    </section>
  </div>
</div>
