<div class="coaching-dashboard">
  <h1>Coaching Dashboard</h1>

  <div class="coaching-views">
    View by:
    <ul>
      <li><%= link_to "Time", coach_root_path %></li>
      <li><a>Student</a>
        <ul>
        <% @students.each do |student| %>
          <li><%= link_to student.name, coach_student_path(student.id) %></li>
        <% end %>
        </ul>
      </li>
      <li><a>Assignment</a>
        <ol>
        <% @assignment_definitions.each do |ad| %>
          <li><%= link_to ad.title, coach_assignment_path(ad.id) %></li>
        <% end %>
        </ol>
      </li>
    </ul>
  </div>

  <div class="coaching-activity">

  <% if @activity.any? %>

    <% if @focused_student %>
      <h2>Recent activity by <%= link_to @focused_student.name, assignments_path(:student => @focused_student.id) %></h2>
    <% elsif @focused_assignment %>
      <h2>Recent activity on <%= @focused_assignment.title %></h2>
    <% else %>
      <h2>Recent activity by your students that needs your attention</h2>
    <% end %>

    <ol>
    <% @activity.each do |task| %>
      <li>
        <%= link_to task.user.name, coach_student_path(task.user.id) %>
        <span class="task-action"><%= task.pending_approval? ? "submitted" : "commented upon" %></span>
        <%= link_to task.task_definition.name.html_safe, coach_student_task_path(task.user_id, task.id), class: "task-name" %>
      <% if task.files.any? %>
      by uploading
        <a href="<%= task.files.first.url %>"><%= task.files.first["#{task.file_type}_file_name"] %></a>
      <% end %>
      at
        <%= task.updated_at.strftime("%B %d, %Y") %>
      </li>
    <% end %>
    </ol>
  <% end %>
  </div>
</div>
