<h1>Beyond Z Platform Admin Directory</h1>

<ul>
  <li><%= link_to 'Users', admin_users_path %></li>
  <li><%= link_to 'Users Export (csv)', admin_users_path(:format => 'csv') %></li>
  <li><%= link_to 'Users Export (xls)', admin_users_path(:format => 'xls') %></li>
  <li><%= link_to 'Create new user', new_admin_user_path %></li>

  <li><%= link_to 'Enrollment Applications', admin_enrollments_path %></li>
  <li><%= link_to 'Applications Export', admin_enrollments_path(:format => 'csv') %></li>
</ul>
