<h1>Braven Platform Admin Directory</h1>

<ul>
  <li><%= link_to 'Users', admin_users_path %></li>
  <li><%= link_to 'Create Special Canvas User', new_admin_user_path %></li>
  <li><%= link_to 'Users Export (csv) - includes applications', admin_users_path(:format => 'csv') %></li>
  <li><%= link_to 'Import user cohort assignment csv', admin_csv_import_path %></li>
  <li><%= link_to 'Import user status csv', admin_user_status_csv_import_path %></li>

  <li><%= link_to 'Enrollment Applications', admin_enrollments_path %></li>
  <li><%= link_to 'Applications Export (csv)', admin_enrollments_path(:format => 'csv') %></li>

  <li><%= link_to 'Users Export (xls) - raw data', admin_users_path(:format => 'xls') %></li>
  <li><%= link_to 'Applications Export (xls) - raw data', admin_enrollments_path(:format => 'xls') %></li>

  <li><%= link_to 'Export Lead Owner Mapping', admin_lead_owner_mapping_path(:format => 'csv') %></li>
  <li><%= link_to 'Import Lead Owner Mapping', admin_import_lead_owner_mapping_path %></li>

  <li><%= link_to 'List of universities on signup form', admin_list_path('universities') %></li>
  <li><%= link_to 'List of Braven Regions on signup form for volunteers', admin_list_path('bz_regions') %></li>
  <li><%= link_to 'List of Braven Regions on signup form for employers', admin_list_path('bz_regions_employers') %></li>

  <li><%= link_to 'Automatic campaign mapping', admin_campaign_mapping_path %></li>

  <li><%= link_to 'Bulk Student Upload', admin_bulk_student_upload_path %></li>

  <li><%= link_to 'Resume assignment editor', admin_assignment_definitions_path %></li>
</ul>
