<div class="coaching-dashboard">
  <h1>Coaching Dashboard</h1>

  <div class="coaching-views">
    View by:
    <ul>
      <li><a href="/coaches">Time</a></li>
      <li><a>Student</a>
        <ul>
        <% @students.each do |student| %>
          <li><a href="/coaches?student_id=<%=student.id%>"><%= student.name %></a></li>
          <!--<li><a href="/assignments?student=<%=student.id%>"><%= student.name %></a></li>-->
        <% end %>
        </ul>
      </li>
      <li><a>Assignment</a>
        <ol>
        <% @assignment_definitions.each do |ad| %>
          <li><a href="/coaches?assignment_id=<%=ad.id%>"><%= ad.title %></a></li>
        <% end %>
        </ol>
      </li>
    </ul>
  </div>

  <div class="coaching-activity">

  <% if @activity.any? %>

    <% if @focused_student %>
      <h2>Recent activity by <a href="/assignments?student=<%=@focused_student.id%>"><%= @focused_student.name %></a></h2>
    <% elsif @focused_assignment %>
      <h2>Recent activity on <%= @focused_assignment.title %></h2>
    <% else %>
      <h2>Recent activity by your students that needs your attention</h2>
    <% end %>

    <ol>
    <% @activity.each do |task| %>
      <li><a href="/coaches?student_id=<%=task.user.id%>"><%= task.user.name %></a> <span class="task-action"><%= task.pending_approval? ? "submitted" : "commented upon" %></span> <a href="/assignments/<%=task.assignment_id%>/tasks/<%=task.id%>" class="task-name"><%= task.task_definition.name.html_safe %></a>
      <% if task.files.any? %>
      by uploading
        <a href="<%= task.files.first.url %>"><%= task.files.first["#{task.file_type}_file_name"] %></a>
      <% end %>
      at
        <%= task.updated_at.strftime("%B %d, %Y") %>

        <!--
        <div class="comments-holder">
          <% task.comments.each do |comment| %>
            <%= render :partial => "comments/comment", locals: { :comment => comment } %>
          <% end %>
          <%= render partial: "comments/form", locals: { :task => task } %>
        </div>
        -->

          <!--
        <% if task.pending_approval? %>
          <div>
            <button class="approve-task" type="button" data-task-id="<%= task.id %>">Approve</button>
            <button class="request-task-revisions" type="button" data-task-id="<%= task.id %>">Request Revisions</button>
          </div>
        <%end%>
          -->
      </li>
    <% end %>
    </ol>
  <% end %>
  </div>
</div>
