<%= form_tag(admin_users_path, method: "get") do |f| %>
  <%= text_field_tag :search, params[:search], placeholder: "Search" %>
<% end %>
<br/>
<% if @users.empty? %>
[No users found]
<% end %>
<table>
<% @users.each do |user| %>
<tr>
  <td><a href="/admin/users/<%=user.id%>"><%= user.name %></a> &lt;<%=user.email%>&gt;
    <%= user.is_administrator ? "(admin)":"" %>
  </td>
</tr>
<% end %>
</table>
<%= paginate @users %>
