<table>
<% @users.each do |user| %>
<tr>
  <td><a href="/admin/users/<%=user.id%>"><%= user.name %></a> &lt;<%=user.email%>&gt;
    <%= user.students.any? ? "(coach)":"" %>
    <%= user.is_administrator ? "(admin)":"" %>
  </td>
</tr>
<% end %>
</table>
