<h1><%= link_to 'Users', [:admin, :users] %> &raquo; User Details</h1>

<div style="float: right; padding: 2em;">
  <%= form_for [:admin, @user], :method => 'DELETE' do %>
    <input value="Delete User Permanently" type="submit" onclick="return confirm('Are you sure you want to completely delete this user?');" />
  <% end %>
</div>

<%= link_to 'Change Password', "/admin/users/#{@user.id}/edit" %>

<table class="fields">
  <tr>
    <th>Name</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @user.email %> <%= link_to 'Change', edit_admin_user_path(@user) %></td>
  </tr>
</table>
