<h1><%= link_to 'Users', [:admin, :users] %> &raquo; User Details</h1>

<div style="float: right; padding: 2em;">
  <%= form_for [:admin, @user], :method => 'DELETE' do %>
    <input value="Delete User Permanently" type="submit" onclick="return confirm('Are you sure you want to completely delete this user?');" />
  <% end %>
</div>

<%= link_to 'Change Password', "/admin/users/#{@user.id}/edit" + "#password" %>

<table class="fields">
  <tr>
    <th>Name</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @user.email %> <%= link_to 'Change', edit_admin_user_path(@user) + "#email" %></td>
  </tr>
  <tr>
    <th>Salesforce Contact ID</th>
    <td><%= @user.salesforce_id ? @user.salesforce_id : '--not set--' %> <%= link_to 'Change', edit_admin_user_path(@user) + "#salesforce_id" %></td>
  </tr>
  <tr>
    <% e = Enrollment.latest_for_user(@user.id) %>
    <th>Salesforce Enrollment Campaign ID</th>
    <% if e %>
      <td><%= e.campaign_id ? e.campaign_id : '--not set--'  %> <%= link_to 'Change', edit_admin_user_path(@user) %></td>
    <% else %>
      <td>--no enrollment found, user hasn't opened application yet--</td>
    <% end %>
  </tr>
  <tr>
    <th>Confirmation Status</th>
      <td><%= @user.program_attendance_confirmed ? "Confirmed" : "Awaiting"  %>
        <% if @user.program_attendance_confirmed %>
          <%= form_for [:admin, @user] do |f| %>
            <%= f.hidden_field :program_attendance_confirmed, :value => false %><br />
            <%= f.submit('Reset') %>
          <% end %>
        <% end %>
      </td>
  </tr>
  <tr>
    <th>LMS User ID</th>
    <td><%= @user.canvas_user_id %> <%= link_to 'Change', edit_admin_user_path(@user) + "#canvas_user_id" %></td>
  </tr>
  <tr>
    <th>NLU Student ID</th>
    <td><%= @user.nlu_student_id %> <%= link_to 'Change', edit_admin_user_path(@user) + "#nlu_student_id" %></td>
  </tr>

</table>
<br/>
  <p>Use with care, the user might get emailed or you could change info on their behalf.</p>
  <%= form_for [:admin, @user], :method => 'POST', url: admin_impersonate_path(@user) do %>
    <%
     enrollment = Enrollment.latest_for_user(params[:id])
     if enrollment && enrollment.explicitly_submitted
    %>
      <label><input type="checkbox" name="unsubmit_application" /> Check this to unsubmit the application so you can resubmit as the user, which allows resyncing to Salesforce (double check the SF id above because this should work automatically.)</label>
    <% end %>
    <br />
    <input value="Impersonate User" type="submit" />
  <% end %>

  * Old accounts had only one enrollment and one campaign. Newer accounts may have separate enrollments for each campaign they are in. Editing a new account with this feature will cause trouble - don't do it! Instead, just add them to a new campaign and/or remove them from the old one on Salesforce itself and everything should sort out on this end automatically.
