<script>/* this needs to be there because some broken script adds a google analytics reference before the first script tag, and the next one in the file needs to have nothing inserted before it! */</script>
<div id="new-champion-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">
          <h1>Braven Champions</h1>

          <p class="lead">
            This is a very short intro and a prompt to begin searching for volunteers.
          </p>

          <p>
            <input type="checkbox" />
            I agree to our Terms of Service and will act professionally in my interactions with Braven Volunteers.
          </p>

          <form>
            <div>
              Industry / Profession:
                <input name="industries_csv" class="multi-complete" type="text" />
                <script type="text/json"><%= @industries.to_json.html_safe %></script>
              <input value="Search" type="submit" />
            </div>
          </form>

          OR

          <form>
            <div>
              Major / Field of Study:
                <input name="studies_csv" class="multi-complete" type="text" />
                <script type="text/json"><%= @fields.to_json.html_safe %></script>
              <input value="Search" type="submit" />
            </div>
          </form>
        </div>
        <div class="col-sm-12">

          <!--
          <div>
          People who went to your school
          Companies that people work at
          </div>
          -->

          <% if @results && @results.any? %>
            <h3>Search Results</h3>

            <p>First, click someone's name to view their LinkedIn profile.</p>

            <p>Then, if you want to contact them, return here and click the checkbox next to their name.</p>

            <form method="POST" action="<%= request_champion_contact_path %>" onsubmit="
              var ele = this.querySelectorAll('input[type=checkbox]');
              var checked = 0;
              for(var i = 0; i < ele.length; i++)
                if(ele[i].checked)
                  checked += 1;
              if(checked == 0) {
                alert('To contact a champion, first click their name and see their LinkedIn profile. Then, come back to this tab and check the box that will appear next to their name.');
                return false;
              }
              if(checked > 3) {
                alert('You can only contact up to three champions at a time. Please uncheck any more than that.');
                return false;
              }
              return true;
            ">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

            <table class="zebra">
              <tr>
                <th></th>
                <th>Name</th>
                <th>Company</th>
                <th>Title</th>
                <th>Industries</th>
                <th>Fields</th>
              </tr>
            <% @results.each do |champ| %>
              <tr>
                <td>
                  <input type="checkbox" value="<%=champ.id%>" name="champion_ids[]" style="display: none;" />
                </td>
                <td>
                  <a onclick="
                    window.open(this.href);
                    this.parentNode.previousElementSibling.children[0].style.display = '';
                    return false;
                  " href="<%= champ.linkedin_url %>"><%= champ.first_name %> <%= champ.last_name %> <%= champ.id %></a>
                </td>
                <td>
                  <%= champ.company %>
                </td>
                <td>
                  <%= champ.job_title %>
                </td>
                <td>
                  <ul>
                  <% champ.industries.each do |i| %>
                    <li><%= i %></li>
                  <% end %>
                  </ul>
                </td>
                <td>
                  <ul>
                  <% champ.studies.each do |s| %>
                    <li><%= s %></li>
                  <% end %>
                  </ul>
                </td>
              </tr>
            <% end %>
          <% end %>
          </table>
            <input type="submit" value="Request Contact" />
          </form>

        </div>
      </section>
    </div>
  </div>
</div>



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script>
$(document).ready(function($) {
	// Generate multiple-autocomplete input:
	
	function split( val ) {
		return val.split( /,\s*/ );
	}
	function extractLast( term ) {
		return split( term ).pop();
	}
	
	$('.multi-complete').each(function(){
		var availableTags = [];
		$(this).next('script').each(function(){
                    var obj = JSON.parse($(this).text());
                    for(var a = 0; a < obj.length; a++)
			availableTags.push(obj[a]);
		});
		$(this)
			// don't navigate away from the field on tab when selecting an item
			.on( "keydown", function( event ) {
				if ( event.keyCode === $.ui.keyCode.TAB && this.isOpenedByUser ) {
					event.preventDefault();
				}
			})
			.autocomplete({
				minLength: 0,
				source: function( request, response ) {
					// delegate back to autocomplete, but extract the last term
					response( $.ui.autocomplete.filter( availableTags, extractLast( request.term ) ) );
				},
				focus: function() {
					// prevent value inserted on focus
					return false;
				},
				open: function( event, ui ) {
                                  this.isOpenedByUser = true;
                                },
				close: function( event, ui ) {
                                  this.isOpenedByUser = false;
                                },
				select: function( event, ui ) {
					var terms = split( this.value );
					// remove the current input
					terms.pop();
					// add the selected item
					terms.push( ui.item.value );
					// add placeholder to get the comma-and-space at the end
					terms.push( "" );
					this.value = terms.join( ", " );
					return false;
				}
		});
	});

});
</script>

<style>
  .zebra tr:nth-child(odd) {
    background-color: #eee;
  }
</style>
