<div id="new-champion-page">
  <div class="plank plain-lt">
    <div class="section-container">
      <section>
        <div class="col-sm-6">
          <h1>Register with us</h1>

          <p class="lead">
We aim to support Braven Fellows in growing their network by connecting them to professionals who can provide insight into their industry and workplace. Please complete this form to be added to our database of Braven Champions: you may be contacted via e-mail by Fellows requesting an informational interview. Thank you for your support! 
          </p>

<%= form_for :champion, :url => champions_path do |f| %>
  <%= hidden_field_tag 'referrer', @referrer %>
  <%= render :partial => 'shared/form_errors', locals: { object: @champion } %>

  <%= f.text_field :first_name, :class => 'form-control', required: 'required', placeholder: 'First Name'  %>
  <br />
  <%= f.text_field :last_name, :class => 'form-control', required: 'required', placeholder: 'Last Name'  %>
  <br />
  <%= f.text_field :email, :class => 'form-control', required: 'required', placeholder: 'Email'  %>
  <br />
  <%= f.text_field :phone, :class => 'form-control', placeholder: 'Phone'  %>
  <br />
  <%= f.text_field :linkedin_url, :class => 'form-control', placeholder: 'LinkedIn URL'  %>
  <br />
  <label>
    <strong>Were you a Braven Fellow in the past?</strong>
    <br />
      <label><%= f.radio_button :braven_fellow, :true, required: 'required' %> Yes</label>
    <br />
      <label><%= f.radio_button :braven_fellow, :false, required: 'required' %> No</label>
  </label>
  <br />
  <br />
  <label>
    <strong>Were/are you a Braven Leadership Coach?</strong>

    <br />
      <label><%= f.radio_button :braven_lc, :true, required: 'required' %> Yes</label>
    <br />
      <label><%= f.radio_button :braven_lc, :false, required: 'required' %> No</label>
  </label>


  <br />
  <br />
  <strong>In which industries do you work or have you worked in the past? (Check all that apply. If yours is not listed, please select a similar field and/or select ‘other.’)</strong>
  <br />

  <div class="long-list-of-checkboxes">
  <% @industries.sort.map(&:strip).each do |industry| %>
    <label><input type="checkbox" value="<%= industry %>" name="champion[industries][]" /> <%= industry %></label><br>
  <% end %>
  </div>

  <label>Other:
    <input type="text" class="form-field" name="champion[industries][]" />
  </label>

  <br />
  <strong>What was your undergraduate and/or graduate fields of study? (Check all that apply. If yours is not listed, please select a similar field and/or select ‘other.’)</strong>
  <br />

  <br />
  <div class="long-list-of-checkboxes">
  <% @fields.sort.map(&:strip).each do |field| %>
    <label><input type="checkbox" value="<%= field %>" name="champion[studies][]" /> <%= field %></label><br>
  <% end %>
  </div>

  <label>Other:
    <input type="text" class="form-field" name="champion[studies][]" />
  </label>

  <br />
  <strong>Are you willing to be contacted by Braven Fellows who are interested in learning more about your career? </strong>
  <br />
    <label><%= f.radio_button :willing_to_be_contacted, :true, required: 'required' %> Yes</label>
  <br />
    <label><%= f.radio_button :willing_to_be_contacted, :false, required: 'required' %> No</label>
  <br /><br />

  <%= f.submit 'Register', :class => 'button-primary' %>
<% end %>

        </div>
      </section>
    </div>
  </div>
</div>
