<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title) || "Beyond Z" %></title>
    <meta name="description" content="<%= yield(:description) || "Beyond Z" %>">
    
    <!-- Until we add a landing page and login, keep our site out of search engines -->
    <meta name="robots" content="noindex">
    <%= render 'shared/asset_stylesheet_includes' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="content">
      <header>
        <%= render 'shared/header' %>
        <%= render 'shared/navigation' %>
      </header>
      <main role="main">
         <%= render 'shared/messages' %>
         <%= yield %>
      </main>

      <%= render 'shared/footer' %>
      <%= render 'shared/feedback_button' %>
    </div>
    
    <%= render 'shared/asset_javascript_includes' %>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
