<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Beyond Z" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Beyond Z" %>">
    
    <!-- Until we add a landing page and login, keep our site out of search engines -->
    <meta name="robots" content="noindex">

    <%= render 'shared/asset_includes' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <a href="/"><%= image_tag "customLogo2.png", alt: "Beyond Z" %></a>
    </header>
    <main role="main">
      <div class="login-container">
        <%= render 'shared/messages' %>
        <%= yield %>
      </div>
    </main>

    <%= render 'shared/footer' %>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
