<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Braven" %></title>
    <meta name="description" content="<%= yield(:description) || "Braven" %>">
    
    <%= render 'shared/asset_stylesheet_includes' %>
    <%= csrf_meta_tags %>




<link rel="stylesheet" type="text/css" href="/bebraven/TradeGothicNo.20-CondBold.css" media='all'> 
<link rel='stylesheet' id='sass-css'  href='/bebraven/sass-compiled.css' type='text/css' media='all' />
<link rel='stylesheet' id='bravenstyle-css'  href='/bebraven/braven.css' type='text/css' media='all' />
<link rel='stylesheet' id='BravenTheme-css'  href='/bebraven/style.css' type='text/css' media='all' />
<link type="text/css" rel="stylesheet" href="/bebraven/jquery.mmenu.all.css" />

  <style>
    #cookie-warning {
      display: none;
    }
    .bz-browser-warning {
      background-color: yellow;
      font-weight: bold;
      padding: 1em;
    }
  </style>

  </head>
  <body>
    <div class="bz-browser-warning" id="cookie-warning">
      Cookies are not enabled in your browser. BeBraven.org will not work correctly without them. Please <a href="http://www.wikihow.com/Enable-Cookies-in-Your-Internet-Web-Browser">enable them</a> or try a different web browser for best results.
    </div>
    <noscript>
    <div class="bz-browser-warning" id="noscript-warning">
      Javascript is not enabled in your browser. BeBraven.org will not work correctly without it. Please <a href="http://www.enable-javascript.com/">enable it</a> or try a different web browser to continue without difficulty.
    </div>
    </noscript>

    <%= render 'shared/standard_modals' %>
    <%= yield :modals %>
    <div class="public-container">

      <div class="upperheader_red">
        <div class="container">
          <h4 class="tophdr-content">Join Our Mailing List » <span style="margin-left:2px; margin-right:2px;">
           <span class="social">
           <a class="mail_icon" target="_blank" href="#mailinglist"></a>
           <a class="facebook_icon" target="_blank" href="https://www.facebook.com/BeBraven"></a>
           <a class="ig_icon" target="_blank" href="https://instagram.com/bebraven/"></a>
           <a class="twitter_icon" target="_blank" href="https://twitter.com/bebraven"></a>
           </span>
           </span>
           <span id="login-container">
             <%= render 'shared/login_button' %>
           </span>
          </h4>
        </div>
      </div>

      <div id="topheader">
         <div id="blogo">
           <a href="http://bebraven.org"><img src="/bebraven/braven_logo.png"></a>
         </div>
      </div>

      <main role="main">
        <%= render 'shared/messages' %>
        <%= yield %>
      </main>

      <% unless @hide_footer %>
      <%= render 'shared/footer' %>
      <% end %>

    </div> <!-- .public-container -->

    <script>
      if(navigator.cookieEnabled === false)
        document.getElementById("cookie-warning").style.display = "block";
    </script>
    <%= render 'shared/asset_javascript_includes' %>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
