<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title) || "Beyond Z" %></title>
    <meta name="description" content="<%= yield(:description) || "Beyond Z" %>">
    
    <!-- Until we add a landing page and login, keep our site out of search engines -->
    <meta name="robots" content="noindex">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="content">
      <header>
        <section id="banner" role="banner">
          <div class="top-left">
            <%= image_tag 'bz_logo_211.png' %>
          </div>
          <div class="top-middle">

            <div id="public-carousel" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#public-carousel" data-slide-to="0"></li>
                <li data-target="#public-carousel" data-slide-to="1"></li>
                <li data-target="#public-carousel" data-slide-to="2"></li>
                <li data-target="#public-carousel" data-slide-to="3"></li>
                <li data-target="#public-carousel" data-slide-to="4"></li>
                <li data-target="#public-carousel" data-slide-to="5"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <%= image_tag 'carousel_1.jpg', alt: 'Leadership' %>
                </div>
                <div class="item">
                  <%= image_tag 'carousel_2.jpg', alt: 'Leadership' %>
                </div>
                <div class="item">
                  <%= image_tag 'carousel_3.jpg', alt: 'Leadership' %>
                </div>
                <div class="item">
                  <%= image_tag 'carousel_4.jpg', alt: 'Leadership' %>
                </div>
                <div class="item">
                  <%= image_tag 'carousel_5.jpg', alt: 'Leadership' %>
                </div>
                <div class="item">
                  <%= image_tag 'carousel_6.jpg', alt: 'Leadership' %>
                </div>
              </div>
            </div>

          </div>
          <div class="top-right">
            <% if !user_signed_in? %>
            <%= link_to '<button type="button" class="apply-button">Sign Up</button>'.html_safe, new_enrollment_path %>
            <% end %>
          </div>
        </section>

        <div id="top-navigation" role="navigation">
          <div class="button-group">
            <%= link_to 'Home', enrollments_path, :class => 'button-primary' %>
            <%= link_to 'Student/Fellows', enrollments_path, :class => 'button' %>
            <%= link_to 'Volunteers', enrollments_path, :class => 'button' %>
            <%= link_to 'Alumni', enrollments_path, :class => 'button' %>
            <%= link_to 'Nominate', enrollments_path, :class => 'button' %>
          </div>
        </div>

      </header>

      <main role="main">
        <%= render 'shared/messages' %>
        <%= yield %>
      </main>


      <%= content_for :footer do %>
        <%= link_to 'Contact Us', '' %>
      <% end %>
      <%= render 'shared/footer' %>
      
    </div>

    <%= render 'shared/asset_includes' %>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
