<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Beyond Z" %></title>
    <meta name="description" content="<%= yield(:description) || "Beyond Z" %>">
    
    <%= render 'shared/asset_stylesheet_includes' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'shared/standard_modals' %>
    <%= yield :modals %>
    <div class="public-container">

      <div class="header">
        <div class="floating-header">
          <div class="plank">
            <div class="section-container">
              <section id="banner" role="banner">

                <nav class="navbar navbar-default" role="navigation">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <%= link_to image_tag('bz_logo_170.png'), root_path %>
                  </div>

                  <!-- Menu content for toggling -->
                  <div class="collapse navbar-collapse top-navigation" id="navbar-collapse-1" style="text-align: right;">
                    <ul class="nav navbar-nav">
                      <%= nav_button 'Home', root_path %>
                      <%= nav_button 'For Students', apply_path %>
                      <%= nav_button 'For Volunteers', volunteer_path %>
                      <%= nav_button 'For Partners', partner_path %>
                      <li><%= render 'shared/login_button' %></li>
                    </ul>
                  </div>
                </nav>
                
              </section>
            </div> <!-- .section-container -->
          </div>
        </div> <!-- .floating-header -->
        <!-- this acts to fill the space when the floating header is in fixed position up top -->
        <!-- when it moves down, this spacer assumes its size, keeping the rest of the page content
             from jumping around, confusing the user as to where they were looking -->
        <div class="floating-header-spacer"></div>
      </div> <!-- .header -->

      <main role="main">
        <%= render 'shared/messages' %>
        <%= yield %>
      </main>

      <%= render 'shared/footer' %>
       
    </div> <!-- .public-container -->

    <%= render 'shared/asset_javascript_includes' %>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
