<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Beyond Z" %></title>
    <meta name="description" content="<%= yield(:description) || "Beyond Z" %>">
    
    <!-- Until we add a landing page and login, keep our site out of search engines -->
    <meta name="robots" content="noindex">
    <%= render 'shared/asset_stylesheet_includes' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'shared/standard_modals' %>
    <%= yield :modals %>

    <div id="content">
      <header>
        <section id="banner" role="banner">
          <div class="top-left">
            <%= link_to image_tag('bz_logo_338.png'), root_path %>
          </div>
          <div class="navigation-holder">
            <div id="top-navigation" role="navigation">
              <ul class="nav navbar-nav">
                <%= nav_button 'Home', root_path %>
                <%= nav_button 'Apply', apply_path %>
                <%= nav_button 'Volunteer', volunteer_path %>
                <%= nav_button 'Partner', partner_path %>
              </ul>
            </div>
          </div>
          <div class="top-right">
            <%= render 'shared/login_button' %>
          </div>
        </section>
      </header>

      <main role="main">
        <%= render 'shared/messages' %>
        <%= yield %>
      </main>


      <%= content_for :footer do %>
        Contact us: <a href="mailto:info@beyondz.org">info@beyondz.org</a>
      <% end %>
      <%= render 'shared/footer' %>
      
    </div>

    <%= render 'shared/asset_javascript_includes' %>
    <%= render 'shared/google_analytics' %>
  </body>
</html>
